/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/
.vscode/

# rspec failure tracking
.rspec_status
.rubocop-https---raw-githubusercontent-com-riboseinc-oss-guides-master-ci-rubocop-yml
Gemfile.lock
rubocop-87c7cdd254a8d09d005ee06efac7acc0.yml
.claude/
