---
http_interactions:
- request:
    method: post
    uri: https://documents.un.org/api/search?l=en&rid=9f3f0e6b-e54a-47cc-9eb9-e073d3dd9368
    body:
      encoding: UTF-8
      string: '{"symbol":"TRADE/CEFACT/2004/32","jobNumber":"","publicationDate":"*
        TO *","releaseDate":"* TO *","title":"","subject":"","session":"","agenda":"","truncation":false,"fullTextSearch":{"language":"en","searchText":""},"sortOptions":{"sortField":"Sort
        by relevance"},"pagination":{"currentPage":1,"itemsPerPage":20},"screenLanguage":"en","tcodes":[]}'
    headers:
      Authorization:
      - "<UN_AUTH_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 502
      message: Bad Gateway
    headers:
      Content-Type:
      - text/html
      Etag:
      - '"6a23d097-13b"'
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
        <head>
            <meta http-equiv="refresh" content="0; url=https://maintenance.un.org" />
            <title>Redirecting to Maintenance...</title>
        </head>
        <body>
            <script>
                // JavaScript fallback redirect
                window.location.href = "https://maintenance.un.org";
            </script>
        </body>
        </html>
  recorded_at: Sat, 06 Jun 2026 16:54:14 GMT
recorded_with: VCR 6.4.0
