/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.vscode/

# rspec failure tracking
.rspec_status
Gemfile.lock
.rubocop-remote-87c7cdd254a8d09d005ee06efac7acc0.yml
.claude/settings.local.json
