---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1037%2F0000120-016
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2026,4,3]],"date-time":"2026-04-03T23:02:29Z","timestamp":1775257349005,"version":"3.50.1"},"publisher-location":"Washington","reference-count":0,"publisher":"American
        Psychological Association","isbn-type":[{"value":"1433829886","type":"print"},{"value":"1433830388","type":"print"},{"value":"9781433829888","type":"print"},{"value":"9781433830389","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2019]]},"DOI":"10.1037\/0000120-016","type":"book-chapter","created":{"date-parts":[[2018,12,6]],"date-time":"2018-12-06T14:14:50Z","timestamp":1544105690000},"page":"345-359","source":"Crossref","is-referenced-by-count":16,"title":["Culinary
        arts: Talent and their development."],"prefix":"10.1037","author":[{"given":"Laurent","family":"Aron","sequence":"first","affiliation":[]},{"given":"Marion","family":"Botella","sequence":"additional","affiliation":[]},{"given":"Todd","family":"Lubart","sequence":"additional","affiliation":[]}],"member":"15","container-title":["Psychology
        of high performance: Developing human potential into domain-specific talent."],"original-title":[],"language":"en","link":[{"URL":"http:\/\/psycnet.apa.org\/books\/16096\/016.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2024,2,23]],"date-time":"2024-02-23T19:05:17Z","timestamp":1708715117000},"score":1,"resource":{"primary":{"URL":"https:\/\/content.apa.org\/books\/16096-016"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2019]]},"ISBN":["1433829886","1433830388","9781433829888","9781433830389"],"references-count":0,"alternative-id":["2018-59444-016","2018-59444-000"],"URL":"https:\/\/doi.org\/10.1037\/0000120-016","relation":{},"subject":[],"published":{"date-parts":[[2019]]}}}'
  recorded_at: Wed, 08 Apr 2026 19:51:07 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=Psychology%20of%20high%20performance:%20Developing%20human%20potential%20into%20domain-specific%20talent.%2B2019
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":4793,"items":[{"indexed":{"date-parts":[[2026,2,23]],"date-time":"2026-02-23T05:25:18Z","timestamp":1771824318631,"version":"3.50.1"},"publisher-location":"Washington","reference-count":0,"publisher":"American
        Psychological Association","isbn-type":[{"value":"1433829886","type":"print"},{"value":"1433830388","type":"print"},{"value":"9781433829888","type":"print"},{"value":"9781433830389","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2019]]},"DOI":"10.1037\/0000120-000","type":"edited-book","created":{"date-parts":[[2018,12,6]],"date-time":"2018-12-06T14:14:50Z","timestamp":1544105690000},"source":"Crossref","is-referenced-by-count":24,"title":["Psychology
        of high performance: Developing human potential into domain-specific talent."],"prefix":"10.1037","member":"15","language":"en","deposited":{"date-parts":[[2024,2,23]],"date-time":"2024-02-23T19:05:00Z","timestamp":1708715100000},"score":55.461193,"resource":{"primary":{"URL":"https:\/\/content.apa.org\/books\/16096-000"}},"editor":[{"given":"Rena
        F.","family":"Subotnik","sequence":"first","affiliation":[]},{"given":"Paula","family":"Olszewski-Kubilius","sequence":"additional","affiliation":[]},{"given":"Frank
        C.","family":"Worrell","sequence":"additional","affiliation":[]}],"issued":{"date-parts":[[2019]]},"ISBN":["1433829886","1433830388","9781433829888","9781433830389"],"references-count":0,"alternative-id":["2018-59444-000"],"URL":"https:\/\/doi.org\/10.1037\/0000120-000","published":{"date-parts":[[2019]]}},{"indexed":{"date-parts":[[2024,9,12]],"date-time":"2024-09-12T10:03:16Z","timestamp":1726135396504},"publisher-location":"New
        York","edition-number":"1","reference-count":0,"publisher":"Routledge","isbn-type":[{"type":"electronic","value":"9781003238461"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.4324\/9781003238461","type":"book","created":{"date-parts":[[2021,9,14]],"date-time":"2021-09-14T09:37:28Z","timestamp":1631612248000},"source":"Crossref","is-referenced-by-count":0,"title":["Talent
        Development for English Language Learners"],"prefix":"10.4324","author":[{"given":"Michael
        S.","family":"Matthews","sequence":"first","affiliation":[]},{"given":"Jaime
        A.","family":"Castellano","sequence":"additional","affiliation":[]}],"member":"301","published-online":{"date-parts":[[2021,9,14]]},"language":"en","deposited":{"date-parts":[[2021,9,14]],"date-time":"2021-09-14T09:37:29Z","timestamp":1631612249000},"score":22.863945,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9781003238461"}},"subtitle":["Identifying
        and Developing Potential"],"issued":{"date-parts":[[2021,9,14]]},"ISBN":["9781003238461"],"references-count":0,"URL":"https:\/\/doi.org\/10.4324\/9781003238461","published":{"date-parts":[[2021,9,14]]}},{"indexed":{"date-parts":[[2024,9,11]],"date-time":"2024-09-11T00:50:05Z","timestamp":1726015805724},"publisher-location":"Singapore","reference-count":0,"publisher":"Springer
        Singapore","isbn-type":[{"type":"print","value":"9789811010699"},{"type":"electronic","value":"9789811010705"}],"license":[{"start":{"date-parts":[[2019,1,1]],"date-time":"2019-01-01T00:00:00Z","timestamp":1546300800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2019]]},"DOI":"10.1007\/978-981-10-1070-5","type":"book","created":{"date-parts":[[2019,3,28]],"date-time":"2019-03-28T13:02:43Z","timestamp":1553778163000},"source":"Crossref","is-referenced-by-count":2,"title":["Domain
        Specific High-Level Synthesis for Cryptographic Workloads"],"prefix":"10.1007","author":[{"given":"Ayesha","family":"Khalid","sequenc[...]
