---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1515%2F9783110889406.257
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,12,23]],"date-time":"2025-12-23T10:38:45Z","timestamp":1766486325829,"version":"3.40.5"},"reference-count":0,"publisher":"DE
        GRUYTER MOUTON","isbn-type":[{"type":"print","value":"9783110170269"},{"type":"electronic","value":"9783110889406"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2001,12,31]]},"DOI":"10.1515\/9783110889406.257","type":"book-chapter","created":{"date-parts":[[2011,3,18]],"date-time":"2011-03-18T18:18:11Z","timestamp":1300472291000},"page":"257-282","source":"Crossref","is-referenced-by-count":14,"title":["Gender
        and public space in a bilingual school"],"prefix":"10.1515","author":[{"given":"Monica","family":"Heller","sequence":"first","affiliation":[]}],"member":"374","container-title":["Multilingualism,
        Second Language Learning, and Gender"],"original-title":[],"link":[{"URL":"https:\/\/www.degruyterbrill.com\/document\/doi\/10.1515\/9783110889406.257\/xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.degruyterbrill.com\/document\/doi\/10.1515\/9783110889406.257\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2025,5,17]],"date-time":"2025-05-17T11:01:48Z","timestamp":1747479708000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.degruyterbrill.com\/document\/doi\/10.1515\/9783110889406.257\/html"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2001,12,31]]},"ISBN":["9783110170269","9783110889406"],"references-count":0,"alternative-id":["10.1515\/9783110889406.257","10.1515\/9783110889406"],"URL":"https:\/\/doi.org\/10.1515\/9783110889406.257","relation":{},"subject":[],"published":{"date-parts":[[2001,12,31]]}}}'
  recorded_at: Mon, 26 Jan 2026 15:49:14 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Gender%2Band%2Bpublic%2Bspace%2Bin%2Ba%2Bbilingual%2Bschool%2B2001%2BDE%2BGRUYTER%2BMOUTON
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2121239,"items":[{"indexed":{"date-parts":[[2025,12,23]],"date-time":"2025-12-23T10:38:45Z","timestamp":1766486325829,"version":"3.40.5"},"reference-count":0,"publisher":"DE
        GRUYTER MOUTON","isbn-type":[{"type":"print","value":"9783110170269"},{"type":"electronic","value":"9783110889406"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2001,12,31]]},"DOI":"10.1515\/9783110889406.257","type":"book-chapter","created":{"date-parts":[[2011,3,18]],"date-time":"[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=Multilingualism,%20Second%20Language%20Learning,%20and%20Gender%2B2001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":91845,"items":[{"indexed":{"date-parts":[[2026,1,8]],"date-time":"2026-01-08T05:36:02Z","timestamp":1767850562359,"version":"3.49.0"},"reference-count":0,"publisher":"DE
        GRUYTER MOUTON","isbn-type":[{"value":"9783110170269","type":"print"},{"value":"9783110889406","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2001,12,31]]},"DOI":"10.1515\/9783110889406","type":"edited-book","created":{"date-parts":[[2011,3,18]],"date-time":"2011-03-18T18:18:11Z","timestamp":1300472291000},"source":"Crossref","is-referenced-by-count":85,"title":["Multilingualism,
        Second Language Learning, and Gender"],"prefix":"10.1515","member":"374","published-online":{"date-parts":[[2001,12,31]]},"link":[{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783110889406\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2025,5,17]],"date-time":"2025-05-17T11:01:46Z","timestamp":1747479706000},"score":43.78082,"resource":{"primary":{"URL":"https:\/\/www.degruyterbrill.com\/document\/doi\/10.1515\/9783110889406\/html"}},"subtitle":[""],"editor":[{"given":"Aneta","family":"Pavlenko","sequence":"first","affiliation":[]},{"given":"Adrian","family":"Blackledge","sequence":"additional","affiliation":[]},{"given":"Ingrid","family":"Piller","sequence":"additional","affiliation":[]},{"given":"Marya","family":"Teutsch-Dwyer","sequence":"additional","affiliation":[]}],"issued":{"date-parts":[[2001,12,31]]},"ISBN":["9783110170269","9783110889406"],"references-count":0,"alternative-id":["10.1515\/9783110889406"],"URL":"https:\/\/doi.org\/10.1515\/9783110889406","published":{"date-parts":[[2001,12,31]]}},{"indexed":{"date-parts":[[2026,1,5]],"date-time":"2026-01-05T21:50:55Z","timestamp":1767649855813},"publisher-location":"Cham","reference-count":0,"publisher":"Springer
        International Publishing","isbn-type":[{"type":"print","value":"9783319568911"},{"type":"electronic","value":"9783319568928"}],"license":[{"start":{"date-parts":[[2017,1,1]],"date-time":"2017-01-01T00:00:00Z","timestamp":1483228800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2017]]},"DOI":"10.1007\/978-3-319-56892-8","type":"book","created":{"date-parts":[[2017,5,13]],"date-time":"2017-05-13T04:44:25Z","timestamp":1494650665000},"source":"Crossref","is-referenced-by-count":9,"title":["Multiculturalism,
        Multilingualism and the Self"],"prefix":"10.1007","member":"297","container-title":["Second
        Language Learning and Teaching"],"language":"en","link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-319-56892-8.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-319-56892-8","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,1,16]],"date-time":"2020-01-16T11:53:46Z","timestamp":1579175626000},"score":28.944454,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/978-3-319-56892-8"}},"subtitle":["Studies
        in Linguistics and Language Learning"],"editor":[{"given":"Danuta","family":"Gabry\u015b-Barker","sequence":"first","affiliation":[]},{"given":"Dagmara","family":"Ga\u0142ajda","sequence":"additional","affiliation":[]},{"given":"Adam","family":"Wojtaszek","sequence":"additional","affiliation":[]},{"given":"Pawe\u0142","family":"Zakrajewski","sequence":"additional","affiliation":[]}],"issued":{"date-parts":[[2017]]},"ISBN":["9783319568911","9783319568928"],"references-count":0,"URL":"https:\/\/doi.org\/10.1007\/978-3-319-56892-8","ISSN":["2193-7648","2193-7656"],"issn-type":[{"type":"print","value":"2193-7648"},{"type":"electronic","value":"2193-7656"}],"published":{"date-parts":[[2017]]}},{"indexed":{"date-parts":[[2024,9,9]],"date-time":"2024-09-09T18:28:04Z","timestamp":1725906484775},"publisher-location":"Cham","reference-count":0,"publisher":"Springer
        International Publishing","isbn-type":[{"type":"print","value":"9783319610481"},{"type":"electronic","value":"9783319610498"}],"license":[{"start":{"date-parts":[[2017,1,1]],"date-time":"2017-01-01T00:00:[...]
