---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.7139%2F2017.978-1-56900-592-7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:41:13Z","timestamp":1648950073316},"edition-number":"6","reference-count":0,"publisher":"AOTA
        Press","isbn-type":[{"value":"9781569005927","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.7139\/2017.978-1-56900-592-7","type":"book-set","created":{"date-parts":[[2019,12,19]],"date-time":"2019-12-19T09:54:25Z","timestamp":1576749265000},"source":"Crossref","is-referenced-by-count":1,"title":["Occupational
        Therapy Manager, 6th Ed"],"prefix":"10.7139","member":"2927","container-title":[],"original-title":[],"deposited":{"date-parts":[[2019,12,19]],"date-time":"2019-12-19T09:54:25Z","timestamp":1576749265000},"score":1,"resource":{"primary":{"URL":"https:\/\/library.aota.org\/Occupational-Therapy-Manager-6"}},"subtitle":[],"editor":[{"given":"Karen","family":"Jacobs","sequence":"first","affiliation":[]},{"given":"Judith","family":"Parker
        Kent","sequence":"additional","affiliation":[]},{"given":"Albert","family":"Copolillo","sequence":"additional","affiliation":[]},{"given":"Roger","family":"Ideishi","sequence":"additional","affiliation":[]},{"given":"Shawn","family":"Phipps","sequence":"additional","affiliation":[]},{"given":"Sarah","family":"McKinnon","sequence":"additional","affiliation":[]},{"given":"Donna","family":"Costa","sequence":"additional","affiliation":[]},{"given":"Nathan","family":"Herz","sequence":"additional","affiliation":[]},{"given":"Guy","family":"McCormack","sequence":"additional","affiliation":[]},{"given":"Lee","family":"Brandt","sequence":"additional","affiliation":[]},{"given":"Karen","family":"Duddy","sequence":"additional","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[null]]},"ISBN":["9781569005927"],"references-count":0,"URL":"https:\/\/doi.org\/10.7139\/2017.978-1-56900-592-7","relation":{},"subject":[]}}'
  recorded_at: Mon, 26 Jan 2026 15:49:17 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Occupational%2BTherapy%2BManager,%2B6th%2BEd%2B2019%2BAOTA%2BPress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1409574,"items":[{"indexed":{"date-parts":[[2024,5,12]],"date-time":"2024-05-12T05:15:52Z","timestamp":1715490952673},"reference-count":25,"publisher":"Elsevier","isbn-type":[{"value":"9780323498463","type":"print"}],"license":[{"start":{"date-parts":[[2019,1,1]],"date-time":"2019-01-01T00:00:00Z","timestamp":1546300800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2019]]},"DOI":"10.1016\/b978-0-323-49846-3.00007-x","type":"book-chapter","created":{"date-parts":[[2020,11,4]],"date-time":"2020-11-04T20:54:05Z","timestamp":1604523245000},"page":"84-102","source":"Crossref","is-referenced-by-count":0,"title":["Occupational
        Therapy Practice Models"],"prefix":"10.1016","author":[{"given":"Ren\u00e9","family":"Padilla","sequence":"first","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/B978-0-323-49846-3.00007-X_bib1","doi-asserted-by":"crossref","first-page":"S1","DOI":"10.5014\/ajot.2014.682006","article-title":"Occupational
        therapy practice framework: Domain and process, 3rd ed","volume":"68","author":"American
        Occupational Therapy Association","year":"2014","journal-title":"Am J Occup
        Ther"},{"key":"10.1016\/B978-0-323-49846-3.00007-X_bib2","series-title":"Application
        of a Developmental Theory for Health and Rehabilitation","author":"Llorens","year":"1976"},{"key":"10.1016\/B978-0-323-49846-3.00007-X_bib3","series-title":"Occupational
        Therapy for Psychiatric Diseases: Measurement and Management of Cognitive
        Disabilities","author":"Allen","year":"1985"},{"key":"10.1016\/B978-0-323-49846-3.00007-X_bib4","series-title":"Occupational
        Therapy Treatment Goals for the Physically and Cognitively Disabled","author":"Allen","year":"1992"},{"key":"10.1016\/B978-0-323-49846-3.00007-X_bib5","series-title":"Understanding
        Cognitive Performance Modes","author":"Allen","year":"1995"},{"key":"10.1016\/B978-0-323-49846-3.00007-X_bib6","series-title":"A
        Model of Human Occupation: Theory and Application","author":"Kielhofner","year":"2007"},{"key":"10.1016\/B978-0-323-49846-3.00007-X_bib7","doi-asserted-by":"crossref","first-page":"1026","DOI":"10.5014\/ajot.49.10.1026","article-title":"The
        philosophical base of occupational therapy","volume":"49","author":"American
        Occupational Therapy Association","year":"1995","journal-title":"Am J Occup
        Ther"},{"key":"10.1016\/B978-0-323-49846-3.00007-X_bib8","doi-asserted-by":"crossref","first-page":"1081","DOI":"10.5014\/ajot.47.12.1081","article-title":"Position
        paper: Purposeful activity","volume":"47","author":"American Occupational
        Therapy Association","year":"1993","journal-title":"Am J Occup Ther"},{"key":"10.1016\/B978-0-323-49846-3.00007-X_bib9","doi-asserted-by":"crossref","first-page":"1047","DOI":"10.5014\/ajot.48.11.1047","article-title":"Uniform
        terminology for occupational therapy","volume":"48","author":"American Occupational
        Therapy Association","year":"1994","journal-title":"Am J Occup Ther"},{"key":"10.1016\/B978-0-323-49846-3.00007-X_bib10","series-title":"A
        Model of Human Occupation: Theory and Application","author":"Kielhofner","year":"1995"},{"issue":"10","key":"10.1016\/B978-0-323-49846-3.00007-X_bib11","doi-asserted-by":"crossref","first-page":"960","DOI":"10.5014\/ajot.49.10.960","article-title":"Occupation:
        purposefulness and meaningfulness as therapeutic mechanisms. Eleanor Clarke
        Slagle lecture","volume":"49","author":"Trombly","year":"1995","journal-title":"Am
        J Occup Ther"},{"issue":"2","key":"10.1016\/B978-0-323-49846-3.00007-X_bib12","doi-asserted-by":"crossref","first-page":"150","DOI":"10.5014\/ajot.58.2.1[...]
