---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1787%2F20743300
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2026,2,9]],"date-time":"2026-02-09T03:52:49Z","timestamp":1770609169153,"version":"3.49.0"},"reference-count":0,"publisher":"OECD","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1787\/20743300","type":"book-series","created":{"date-parts":[[2009,7,9]],"date-time":"2009-07-09T12:17:29Z","timestamp":1247141849000},"source":"Crossref","is-referenced-by-count":2,"title":["Chemical
        Thermodynamics"],"prefix":"10.1787","member":"1963","container-title":[],"original-title":[],"language":"en","deposited":{"date-parts":[[2021,8,2]],"date-time":"2021-08-02T08:28:37Z","timestamp":1627892917000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.oecd-ilibrary.org\/nuclear-energy\/chemical-thermodynamics_20743300"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"https:\/\/doi.org\/10.1787\/20743300","relation":{},"ISSN":["2074-3300"],"issn-type":[{"value":"2074-3300","type":"electronic"}],"subject":[]}}'
  recorded_at: Tue, 03 Mar 2026 18:06:17 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Chemical%2BThermodynamics%2B2009%2BOECD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":743244,"items":[{"indexed":{"date-parts":[[2024,5,18]],"date-time":"2024-05-18T19:40:15Z","timestamp":1716061215277},"reference-count":13,"publisher":"CRC
        Press","isbn-type":[{"value":"9781420078190","type":"print"},{"value":"9781420078206","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2009,6,9]]},"DOI":"10.1201\/b15834-3","type":"book-chapter","created":{"date-parts":[[2013,10,17]],"date-time":"2013-10-17T16:59:07Z","timestamp":1382029147000},"page":"13-42","source":"Crossref","is-referenced-by-count":0,"title":["Basic
        Chemical Thermodynamics"],"prefix":"10.1201","member":"301","published-online":{"date-parts":[[2013,10,17]]},"reference":[{"key":"p_20","volume-title":"Physical
        Chemistry of Surfaces","author":"Adamson A.","edition":"4"},{"key":"p_21","volume-title":"New
        York, NY: John Wiley & Sons","author":"Adamson A.","year":"1997","edition":"6"},{"key":"p_22","volume-title":"Physical
        Chemistry","author":"Atkins P.W.","edition":"8"},{"key":"p_23","volume-title":"The
        Principles of Chemical Equilibrium","author":"Denbigh K.","edition":"4"},{"key":"p_24","volume-title":"Albert
        Einstein: Philosopher-Scientist.","author":"Einstein A."},{"key":"p_25","doi-asserted-by":"publisher","DOI":"10.1146\/annurev.earth.31.100901.141259"},{"key":"p_26","doi-asserted-by":"crossref","DOI":"10.1093\/oso\/9780195149418.001.0001","volume-title":"Divine
        Wind: The History and Science of Hurricanes.","author":"Emanuel K.E.","year":"2005"},{"key":"p_27","volume-title":"Units
        and Symbols in Physical Chemistry","author":"Quantities"},{"key":"p_28","volume-title":"Introduction
        to Modern Thermodynamics","author":"Kondepudi D."},{"key":"p_29","volume-title":"The
        World of Physical Chemistry. NewYork","author":"Laidler K.J."},{"key":"p_30","volume-title":"New
        York, NY: McGraw-Hill Book Co.","author":"Lewis G.N.","year":"1961","edition":"2"},{"key":"p_31","volume-title":"New
        York, NY: John Wiley & Sons","author":"Stumm W.","year":"1981","edition":"2"},{"key":"p_32","volume-title":"Miscellaneous
        Works","author":"Young T."}],"container-title":["Elements of Environmental
        Engineering"],"language":"en","link":[{"URL":"http:\/\/www.crcnetbase.com\/doi\/pdf\/10.1201\/b15834-3","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2024,5,18]],"date-time":"2024-05-18T19:10:25Z","timestamp":1716059425000},"score":23.050726,"resource":{"primary":{"URL":"http:\/\/www.crcnetbase.com\/doi\/10.1201\/b15834-3"}},"issued":{"date-parts":[[2009,6,9]]},"ISBN":["9781420078190","9781420078206"],"references-count":13,"alternative-id":["10.1201\/b15834-3","10.1201\/b15834"],"URL":"https:\/\/doi.org\/10.1201\/b15834-3","published":{"date-parts":[[2009,6,9]]}},{"indexed":{"date-parts":[[2024,5,12]],"date-time":"2024-05-12T05:52:03Z","timestamp":1715493123817},"reference-count":0,"publisher":"Oxford
        University Press","isbn-type":[{"value":"9780195367997","type":"print"},{"value":"9780197562635","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2009,2,26]]},"abstract":"<p>Chemical
        thermodynamics is the study of the energy changes and transfers associated
        with chemical and physical transformations. Energy is the ability to do work
        or to transfer heat. A spontaneous process is one that can occur on its own
        without any external influence. A spontaneous process always moves a system
        in the direction of equilibrium. When a process or reaction cannot occur under
        the prescribed conditions, it is nonspontaneous. The rev[...]
