---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1093%2Facprof:oso%2F9780199681624.001.0001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2026,2,6]],"date-time":"2026-02-06T21:48:38Z","timestamp":1770414518976,"version":"3.49.0"},"reference-count":0,"publisher":"Oxford
        University Press","isbn-type":[{"value":"9780199681624","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2013,9,26]]},"DOI":"10.1093\/acprof:oso\/9780199681624.001.0001","type":"monograph","created":{"date-parts":[[2014,1,27]],"date-time":"2014-01-27T13:54:04Z","timestamp":1390830844000},"source":"Crossref","is-referenced-by-count":30,"title":["The
        Nature and Origin of Language"],"prefix":"10.1093","author":[{"given":"Denis","family":"Bouchard","sequence":"first","affiliation":[]}],"member":"286","container-title":[],"original-title":[],"deposited":{"date-parts":[[2022,8,2]],"date-time":"2022-08-02T23:39:33Z","timestamp":1659483573000},"score":1,"resource":{"primary":{"URL":"https:\/\/academic.oup.com\/book\/8112"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2013,9,26]]},"ISBN":["9780199681624"],"references-count":0,"URL":"https:\/\/doi.org\/10.1093\/acprof:oso\/9780199681624.001.0001","relation":{},"subject":[],"published":{"date-parts":[[2013,9,26]]}}}'
  recorded_at: Tue, 03 Mar 2026 18:06:19 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=The%2BNature%2Band%2BOrigin%2Bof%2BLanguage%2B2013%2BOxford%2BUniversity%2BPress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1792917,"items":[{"indexed":{"date-parts":[[2022,8,3]],"date-time":"2022-08-03T00:15:00Z","timestamp":1659485700459},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2013,9,26]]},"DOI":"10.1093\/acprof:oso\/9780199681624.003.0002","type":"book-chapter","created":{"date-parts":[[2014,1,27]],"date-time":"2014-01-27T13:54:04Z","timestamp":1390830844000},"page":"62-82","source":"Crossref","is-referenced-by-count":0,"title":["Language:
        facts and theory"],"prefix":"10.1093","author":[{"given":"Denis","family":"Bouchard","sequence":"first","affiliation":[]}],"member":"286","container-title":["The
        Nature and Origin of Language"],"deposited":{"date-parts":[[2022,8,2]],"date-time":"2022-08-02T23:39:36Z","timestamp":1659483576000},"score":28.016735,"resource":{"primary":{"URL":"https:\/\/academic.oup.com\/book\/8112\/chapter\/153571316"}},"iss[...]
