---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1109%2Fieeestd.2014.6835311
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,5,3]],"date-time":"2023-05-03T09:43:40Z","timestamp":1683107020010},"publisher-location":"Piscataway,
        NJ, USA","standards-body":{"name":"Software &amp; Systems Engineering Standards
        Committee of the IEEE Computer Society","acronym":"IEEE"},"reference-count":0,"publisher":"IEEE","isbn-type":[{"value":"9780738191683","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1109\/ieeestd.2014.6835311","type":"standard","created":{"date-parts":[[2014,6,19]],"date-time":"2014-06-19T20:13:47Z","timestamp":1403208827000},"approved":{"date-parts":[[2014,3,27]]},"source":"Crossref","is-referenced-by-count":6,"title":["IEEE
        Standard for Software Quality Assurance Processes"],"prefix":"10.1109","member":"263","container-title":[],"original-title":[],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx7\/6835309\/6835310\/06835311.pdf?arnumber=6835311","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,10,14]],"date-time":"2020-10-14T15:36:09Z","timestamp":1602689769000},"score":1,"resource":{"primary":{"URL":"https:\/\/ieeexplore.ieee.org\/document\/6835311"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"ISBN":["9780738191683"],"references-count":0,"URL":"https:\/\/doi.org\/10.1109\/ieeestd.2014.6835311","relation":{},"subject":[]}}'
  recorded_at: Wed, 01 Apr 2026 18:25:04 GMT
recorded_with: VCR 6.4.0
