---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.6028%2Fnist.ir.8245
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"National
        Institute of Standards and Technology","acronym":["NIST"],"place":["Gaithersburg,
        MD"],"department":["Information Technology Laboratory","Material Measurement
        Laboratory"]}],"indexed":{"date-parts":[[2025,7,2]],"date-time":"2025-07-02T22:43:42Z","timestamp":1751496222337},"publisher-location":"Gaithersburg,
        MD","reference-count":0,"publisher":"National Institute of Standards and Technology","funder":[{"DOI":"10.13039\/100007764r","name":"Information
        Technology Laboratory","doi-asserted-by":"publisher","id":[{"id":"10.13039\/100007764r","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.6028\/nist.ir.8245","type":"report","created":{"date-parts":[[2019,3,28]],"date-time":"2019-03-28T13:01:30Z","timestamp":1553778090000},"source":"Crossref","is-referenced-by-count":4,"title":["Voices
        of first responders - examining public safety communication\n                        problems
        and requested functionality:"],"prefix":"10.6028","author":[{"given":"Shanee","family":"Dawkins","sequence":"first","affiliation":[]},{"given":"Yee-Yin","family":"Choong","sequence":"additional","affiliation":[]},{"given":"Mary
        F","family":"Theofanos","sequence":"additional","affiliation":[]},{"given":"Kristen
        K","family":"Greene","sequence":"additional","affiliation":[]},{"given":"Susanne","family":"Furman","sequence":"additional","affiliation":[]},{"given":"Michelle","family":"Steves","sequence":"additional","affiliation":[]},{"given":"Sandra
        Spickard","family":"Prettyman","sequence":"additional","affiliation":[]}],"member":"4068","published-online":{"date-parts":[[2019,3]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2024,10,11]],"date-time":"2024-10-11T18:31:28Z","timestamp":1728671488000},"score":1,"resource":{"primary":{"URL":"https:\/\/nvlpubs.nist.gov\/nistpubs\/ir\/2019\/NIST.IR.8245.pdf"}},"subtitle":["findings
        from user-centered interviews, phase 1, volume 2"],"short-title":[],"issued":{"date-parts":[[2019,3]]},"references-count":0,"URL":"https:\/\/doi.org\/10.6028\/nist.ir.8245","relation":{},"subject":[],"published":{"date-parts":[[2019,3]]}}}'
  recorded_at: Wed, 08 Apr 2026 19:51:02 GMT
recorded_with: VCR 6.4.0
