---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.17487%2FRFC0001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,12,12]],"date-time":"2023-12-12T19:11:12Z","timestamp":1702408272497},"reference-count":0,"publisher":"RFC
        Editor","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.17487\/rfc0001","type":"report","created":{"date-parts":[[2015,4,6]],"date-time":"2015-04-06T01:16:32Z","timestamp":1428282992000},"source":"Crossref","is-referenced-by-count":9,"title":["Host
        Software"],"prefix":"10.17487","author":[{"given":"S.","family":"Crocker","sequence":"first","affiliation":[]}],"member":"7045","published-online":{"date-parts":[[1969,4]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2015,4,6]],"date-time":"2015-04-06T01:16:32Z","timestamp":1428282992000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.rfc-editor.org\/info\/rfc0001"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[1969,4]]},"references-count":0,"URL":"https:\/\/doi.org\/10.17487\/rfc0001","relation":{},"subject":[],"published":{"date-parts":[[1969,4]]}}}'
  recorded_at: Wed, 01 Apr 2026 18:25:03 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Host%2BSoftware%2B1969%2BRFC%2BEditor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":164725,"items":[{"indexed":{"date-parts":[[2024,4,29]],"date-time":"2024-04-29T09:41:54Z","timestamp":1714383714665},"reference-count":0,"publisher":"CRC
        Press","isbn-type":[{"value":"9780849358005","type":"print"},{"value":"9781420013290","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2007,12,17]]},"DOI":"10.1201\/9781420013290.axa","type":"book-chapter","created":{"date-parts":[[2010,2,19]],"date-time":"2010-02-19T22:55:34Z","timestamp":1266620134000},"page":"373-374","source":"Crossref","is-referenced-by-count":0,"title":["Request
        for Change (RFC) Template"],"prefix":"10.1201","member":"301","published-online":{"date-parts":[[2009,11,23]]},"container-title":["Software
        Deployment, Updating, and Patching"],"language":"en","link":[{"URL":"http:\/\/www.crcnetbase.com\/doi\/pdf\/10.1201\/9781420013290.axa","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,9,6]],"date-time":"2016-09-06T11:52:33Z","timestamp":1473162753000},"score":21.744448,"resource":{"primary":{"URL":"http:\/\/www.crcnetbase.com\/doi\/10.1201\/9781420013290.axa"}},"issued":{"date-parts":[[2007,12,17]]},"ISBN":["9780849358005","9781420013290"],"references-count":0,"alternative-id":["10.1201\/9781420013290.axa","10.1201\/9781420013290"],"URL":"https:\/\/doi.org\/10.1201\/9781420013290.axa","published":{"date-parts":[[2007,12,17]]}},{"indexed":{"date-parts":[[2024,5,5]],"date-time":"2024-05-05T20:26:04Z","timestamp":1714940764319},"reference-count":0,"publisher":"IEEE","isbn-type":[{"value":"9780470187562","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2011]]},"DOI":"10.1109\/9780470187562.about","type":"book-[...]
