---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1088%2F0026-1394%2F29%2F6%2F001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T02:06:56Z","timestamp":1648951616851},"reference-count":9,"publisher":"IOP
        Publishing","issue":"6","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Metrologia"],"published-print":{"date-parts":[[1993,1,1]]},"DOI":"10.1088\/0026-1394\/29\/6\/001","type":"journal-article","created":{"date-parts":[[2005,2,1]],"date-time":"2005-02-01T04:33:05Z","timestamp":1107232385000},"page":"373-377","source":"Crossref","is-referenced-by-count":10,"title":["Decade
        Designs for Weighings of Non-uniform Variance"],"prefix":"10.1088","volume":"29","author":[{"given":"E
        C","family":"Morris","sequence":"first","affiliation":[]}],"member":"266","published-online":{"date-parts":[[2005,2,1]]},"reference":[{"key":"1","first-page":"625
        p","author":"Rao C R","year":"1973","journal-title":"Linear Statistical Inference
        and Its Applications"},{"key":"2","doi-asserted-by":"crossref","first-page":"123","DOI":"10.1088\/0026-1394\/10\/4\/002","volume":"10","author":"Prowse
        D B","year":"1974","journal-title":"Metrologia","ISSN":"http:\/\/id.crossref.org\/issn\/0026-1394","issn-type":"print"},{"key":"3","first-page":"233","volume":"87","author":"Grabe
        M","year":"1977","journal-title":"PTB-Mitt.","ISSN":"http:\/\/id.crossref.org\/issn\/0030-834X","issn-type":"print"},{"key":"4","doi-asserted-by":"crossref","first-page":"143","DOI":"10.1088\/0026-1394\/14\/4\/002","volume":"14","author":"Grabe
        M","year":"1978","journal-title":"Metrologia","ISSN":"http:\/\/id.crossref.org\/issn\/0026-1394","issn-type":"print"},{"key":"5","doi-asserted-by":"crossref","first-page":"51","DOI":"10.1088\/0026-1394\/16\/1\/007","volume":"16","author":"Zuker
        M","year":"1980","journal-title":"Metrologia","ISSN":"http:\/\/id.crossref.org\/issn\/0026-1394","issn-type":"print"},{"key":"6","first-page":"33","author":"Prowse
        D B","year":"1984","journal-title":"Modern Techniques in Metrology"},{"key":"7","first-page":"459","volume":"7","author":"Chaudri
        M A","year":"1988","journal-title":"Pakistan J. Sci. Ind. Res."},{"key":"8","doi-asserted-by":"crossref","first-page":"17","DOI":"10.1088\/0026-1394\/27\/1\/004","volume":"27","author":"Mihailov
        G","year":"1990","journal-title":"Metrologia","ISSN":"http:\/\/id.crossref.org\/issn\/0026-1394","issn-type":"print"},{"key":"9","doi-asserted-by":"crossref","first-page":"111","DOI":"10.1088\/0026-1394\/27\/3\/001","volume":"27","author":"Bich
        W","year":"1990","journal-title":"Metrologia","ISSN":"http:\/\/id.crossref.org\/issn\/0026-1394","issn-type":"print"}],"container-title":["Metrologia"],"original-title":[],"link":[{"URL":"http:\/\/stacks.iop.org\/0026-1394\/29\/i=6\/a=001\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,4,10]],"date-time":"2020-04-10T22:04:49Z","timestamp":1586556289000},"score":1,"resource":{"primary":{"URL":"https:\/\/iopscience.iop.org\/article\/10.1088\/0026-1394\/29\/6\/001"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[1993,1,1]]},"references-count":9,"journal-issue":{"issue":"6","published-print":{"date-parts":[[1992,1,1]]}},"URL":"https:\/\/doi.org\/10.1088\/0026-1394\/29\/6\/001","relation":{},"ISSN":["0026-1394","1681-7575"],"issn-type":[{"value":"0026-1394","type":"print"},{"value":"1681-7575","type":"electronic"}],"subject":[],"published":{"date-parts":[[1993,1,1]]}}}'
  recorded_at: Wed, 01 Apr 2026 18:25:03 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Decade%2BDesigns%2Bfor%2BWeighings%2Bof%2BNon-uniform%2BVariance%2B1993%2BIOP%2BPublishing
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":356643,"items":[{"indexed":{"date-parts":[[2024,5,11]],"date-time":"2024-05-11T04:45:46Z","timestamp":1715402746282},"edition-number":"0","reference-count":0,"publisher":"Chapman
        and Hall\/CRC","isbn-type":[{"value":"9780429209833","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2004,11,29]]},"DOI":"10.1201\/9780203496817-10","type":"book-chapter","created":{"date-parts":[[2020,11,12]],"date-time":"2020-11-12T21:31:25Z","timestamp":1605216685000},"page":"171-190","source":"Crossref","is-referenced-by-count":0,"title":["Uniform
        and isotropic uniform designs"],"prefix":"10.1201","member":"301","container-title":["Stereology
        for Statisticians"],"language":"en","deposited":{"date-parts":[[2020,12,23]],"date-time":"2020-12-23T16:25:28Z","timestamp":1608740728000},"score":23.30185,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9780203496817\/chapters\/10.1201\/9780203496817-10"}},"issued":{"date-parts":[[2004,11,29]]},"ISBN":["9780429209833"],"references-count":0,"URL":"https:\/\/doi.org\/10.1201\/9780203496817-10","published":{"date-parts":[[2004,11,29]]}},{"indexed":{"date-parts":[[2024,9,6]],"date-time":"2024-09-06T14:07:02Z","timestamp":1725631622375},"publisher-location":"Boston,
        MA","reference-count":80,"publisher":"Springer US","isbn-type":[{"type":"print","value":"9781461362746"},{"type":"electronic","value":"9781461529347"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1993]]},"DOI":"10.1007\/978-1-4615-2934-7_36","type":"book-chapter","created":{"date-parts":[[2011,11,8]],"date-time":"2011-11-08T13:37:38Z","timestamp":1320759458000},"page":"411-425","source":"Crossref","is-referenced-by-count":0,"title":["New
        Free Energy Model for Non-Uniform Fluids"],"prefix":"10.1007","author":[{"given":"Yaakov","family":"Rosenfeld","sequence":"first","affiliation":[]}],"member":"297","reference":[{"key":"36_CR1","doi-asserted-by":"publisher","first-page":"143","DOI":"10.1080\/00018737900101365","volume":"28","author":"R
        Evans","year":"1979","unstructured":"R. Evans, Adv.Phys. 28:143 (1979).","journal-title":"Adv.Phys."},{"key":"36_CR2","volume-title":"Molecular
        Theory of Capilarity","author":"JS Rowlinson","year":"1982","unstructured":"J.S.
        Rowlinson and B. Widom, \u201cMolecular Theory of Capilarity\u201d, Clarendon
        Press, Oxford (1982)."},{"key":"36_CR3","volume-title":"Computer Simulation
        and the Statistical Mechanics of Adsorption","author":"D Nicholson","year":"1982","unstructured":"D.
        Nicholson and N.G. Parsonage, \u201cComputer Simulation and the Statistical
        Mechanics of Adsorption\u201d[...]
