---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.6019%2Fpxd038478
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,12,2]],"date-time":"2022-12-02T05:36:10Z","timestamp":1669959370199},"reference-count":0,"publisher":"EMBL-EBI","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.6019\/pxd038478","type":"database","created":{"date-parts":[[2022,12,1]],"date-time":"2022-12-01T09:40:58Z","timestamp":1669887658000},"source":"Crossref","is-referenced-by-count":0,"title":["ProteomeXchange
        dataset"],"prefix":"10.6019","member":"4043","container-title":[],"original-title":[],"deposited":{"date-parts":[[2022,12,1]],"date-time":"2022-12-01T09:41:00Z","timestamp":1669887660000},"score":1,"resource":{"primary":{"URL":"http:\/\/central.proteomexchange.org\/PXD038478"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"https:\/\/doi.org\/10.6019\/pxd038478","relation":{},"subject":[]}}'
  recorded_at: Fri, 13 Mar 2026 04:26:39 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=2022
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":113756,"items":[{"indexed":{"date-parts":[[2023,1,28]],"date-time":"2023-01-28T06:15:04Z","timestamp":1674886504064},"reference-count":0,"publisher":"LCC
        MAKS Press","isbn-type":[{"value":"9785317069223","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2022,12,29]]},"DOI":"10.29003\/m3133.sc-2022","type":"edited-book","created":{"date-parts":[[2023,1,27]],"date-time":"2023-01-27T12:58:54Z","timestamp":1674824334000},"source":"Crossref","is-referenced-by-count":0,"title":["Smirnow
        Collection \u2013 2022"],"prefix":"10.29003","member":"11544","original-title":["\u0421\u043c\u0438\u0440\u043d\u043e\u0432\u0441\u043a\u0438\u0439
        \u0441\u0431\u043e\u0440\u043d\u0438\u043a \u2013 2022"],"deposited":{"date-parts":[[2023,1,27]],"date-time":"2023-01-27T12:58:57Z","timestamp":1674824337000},"score":5.6851425,"resource":{"primary":{"URL":"https:\/\/elibrary.ru\/item.asp?id=50090582"}},"issued":{"date-parts":[[2022,12,29]]},"ISBN":["9785317069223"],"references-count":0,"URL":"https:\/\/doi.org\/10.29003\/m3133.sc-2022","published":{"date-parts":[[2022,12,29]]}},{"indexed":{"date-parts":[[2025,12,19]],"date-time":"2025-12-19T18:14:15Z","timestamp":1766168055270,"version":"3.48.0"},"reference-count":0,"publisher":"Cedarville
        University","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2022]]},"DOI":"10.15385\/yb.miracle.2022","type":"edited-book","created":{"date-parts":[[2025,2,10]],"date-time":"2025-02-10T14:12:57Z","timestamp":1739196777000},"source":"Crossref","is-referenced-by-count":0,"title":["2022
        Miracle Yearbook"],"prefix":"10.15385","member":"6038","published-online":{"date-parts":[[2025]]},"deposited":{"date-parts":[[2025,12,19]],"date-time":"2025-12-19T18:10:07Z","timestamp":1766167807000},"score":5.623754,"resource":{"primary":{"URL":"https:\/\/cedarville.tind.io\/record\/54709"}},"issued":{"date-parts":[[2022]]},"references-count":0,"URL":"https:\/\/doi.org\/10.15385\/yb.miracle.2022","published":{"date-parts":[[2022]]}},{"indexed":{"date-parts":[[2022,12,8]],"date-time":"2022-12-08T05:29:34Z","timestamp":1670477374798},"reference-count":0,"publisher":"Superior
        University, Lahore","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2022,12,17]]},"abstract":"<jats:p>All
        Private Sector Universities of Pakistan (APSUP) organized the grand entrepreneurial
        expo of the year SEE Pakistan 2022 and collaborated with its member universities
        from across the country. Embarked upon the spirit of patriotism in the month
        of August and celebrations of Independence Day, the event was held at Expo
        Centre Lahore on August 2022 ,18.  APSUP is an association of more than 50
        private universities from across Pakistan that represent[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=ProteomeXchange%2Bdataset%2B2022%2BEMBL-EBI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1223323,"items":[{"indexed":{"date-parts":[[2024,5,5]],"date-time":"2024-05-05T02:35:45Z","timestamp":1714876545143},"reference-count":0,"publisher":"Elsevier","isbn-type":[{"value":"9780125125123","type":"print"}],"license":[{"start":{"date-parts":[[1987,1,1]],"date-time":"1987-01-01T00:00:00Z","timestamp":536457600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1987]]},"DOI":"10.1016\/b978-0-12-512512-3.50016-x","type":"book-chapter","created":{"date-parts":[[2014,7,1]],"date-time":"2014-07-01T21:29:58Z","timestamp":1404250198000},"page":"EMBL-1-EMBL-4","source":"Crossref","is-referenced-by-count":0,"title":["Volume
        II EMBL Entry Index"],"prefix":"10.1016","member":"78","container-title":["Rodents"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:B978012512512350016X?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:B978012512512350016X?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,8,3]],"date-time":"2018-08-03T22:04:32Z","timestamp":1533333872000},"score":21.273542,"resource":{"primary":{"URL":"https:\/\/linkinghub.elsevier.com\/retrieve\/pii\/B978012512512350016X"}},"issued":{"date-parts":[[1987]]},"ISBN":["9780125125123"],"referenc[...]
