---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1163%2F2214-871x_ei1_sim_5628
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"Koninklijke
        Brill NV","acronym":["BRILL"]}],"indexed":{"date-parts":[[2025,3,6]],"date-time":"2025-03-06T23:27:31Z","timestamp":1741303651920,"version":"3.38.0"},"reference-count":0,"publisher":"Walter
        de Gruyter GmbH","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1163\/2214-871x_ei1_sim_5628","type":"dataset","created":{"date-parts":[[2014,10,29]],"date-time":"2014-10-29T17:05:41Z","timestamp":1414602341000},"source":"Crossref","is-referenced-by-count":0,"title":["Ta\u02bfizz"],"prefix":"10.1163","member":"374","container-title":["Encyclopaedia
        of Islam, First Edition (1913-1936)"],"original-title":[],"deposited":{"date-parts":[[2024,3,25]],"date-time":"2024-03-25T19:28:07Z","timestamp":1711394887000},"score":1,"resource":{"primary":{"URL":"https:\/\/referenceworks.brill.com\/doi\/10.1163\/2214-871X_ei1_SIM_5628"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"https:\/\/doi.org\/10.1163\/2214-871x_ei1_sim_5628","relation":{},"subject":[]}}'
  recorded_at: Wed, 01 Apr 2026 18:25:13 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=Encyclopaedia%20of%20Islam,%20First%20Edition%20(1913-1936)%2B2014
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":105589,"items":[{"indexed":{"date-parts":[[2022,4,15]],"date-time":"2022-04-15T19:40:18Z","timestamp":1650051618371},"publisher-location":"London","reference-count":0,"publisher":"Encyclopaedia
        Britannica","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1913]]},"DOI":"10.5962\/bhl.title.18648","type":"monograph","created":{"date-parts":[[2011,11,22]],"date-time":"2011-11-22T16:19:40Z","timestamp":1321978780000},"source":"Crossref","is-referenced-by-count":0,"title":["Britannica
        year-book, 1913 - a survey of the world''s progress since the completion in
        1910 of the Encyclopaedia Britannica"],"prefix":"10.5962","author":[{"given":"Hugh","family":"Chisholm","sequence":"first","affiliation":[]}],"member":"33859","deposited":{"date-parts":[[2022,4,15]],"date-time":"2022-04-15T19:23:31Z","timestamp":1650050611000},"score":20.939716,"resource":{"primary":{"URL":"https:\/\/www.biodiversitylibrary.org\/bibliography\/18648"}},"issued":{"date-parts":[[1913]]},"references-count":0,"URL":"https:\/\/doi.org\/10.5962\/bhl.title.18648","published":{"date-parts":[[1913]]}},{"indexed":{"date-parts":[[2025,11,4]],"date-time":"2025-11-04T21:05:06Z","timestamp":1762290306493,"version":"build-2065373602"},"reference-count":0,"publisher":"Princeton
        University Press","isbn-type":[{"type":"electronic","value":"9781400852222"},{"type":"electronic","value":"1400852226"},{"type":"print","value":"9780691160870"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014,9,28]]},"DOI":"10.2307\/j.ctt6wq0nq","type":"monograph","created":{"date-parts":[[2019,3,5]],"date-time":"2019-03-05T16:40:36Z","timestamp":1551804036000},"source":"Crossref","is-referenced-by-count":3,"title":["The
        Jews of Islam"],"prefix":"10.2307","author":[{"given":"BERNARD","family":"LEWIS","sequence":"first","affiliation":[]}],"member":"1121","deposited":{"date-parts":[[2025,11,4]],"date-time":"2025-11-04T20:58:56Z","timestamp":1762289936000},"score":20.823666,"resource":{"primary":{"URL":"http:\/\/www.jstor.org\/stable\/10.2307\/j.ctt6wq0nq"}},"subtitle":["Updated
        Edition"],"issued":{"date-parts":[[2014,9,28]]},"ISBN":["9781400852222","1400852226","9780691160870"],"references-count":0,"URL":"https:\/\/doi.org\/10.2307\/j.ctt6wq0nq","relation":{"is-identical-to":[{"id-type":"doi","id":"10.1515\/9781400852222","asserted-by":"subject"}]},"published":{"date-parts":[[2014,9,28]]}},{"indexed":{"date-parts":[[2022,6,11]],"date-time":"2022-06-11T10:12:35Z","timestamp":1654942355394},"edition-number":"1","reference-count":0,"publisher":"Cambridge
        University Press","isbn-type":[{"value":"9781108071635","type":"print"},{"value":"9781107294516","type":"electronic"}],"license":[{"start":{"date-parts":[[2014,11,5]],"date-time":"2014-11-05T00:00:00Z","timestamp":1415145600000},"content-version":"unspecified","delay-in-days":265,"URL":"https:\/\/www.cambridge.org\/core\/terms"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014,2,13]]},"abstract":"<jats:p>After
        the success of his richly illustrated Encyclopaedia of Cottage, Farm, and
        Villa Architecture and Furniture (1833), which is also reissued in this series,
        the landscape gardener John Claudius Loudon (1783\u20131843) received a great
        deal of correspondence from interested readers. This prompted him and the
        Encyclopaedia''s contributors to publish this supplement in 1842. Loudon and
        his colleagues had continued to study a range of rural building[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Ta%CA%BFizz%2B2014%2BWalter%2Bde%2BGruyter%2BGmbH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
     [...]
[...]
