---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.46936%2Fcpcy.proj.2019.50733%2F60006578
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:42:46Z","timestamp":1648950166434},"publisher":"Office
        of Scientific and Technical Information (OSTI)","award-start":{"date-parts":[[2019,4,15]]},"award":"50733","DOI":"10.46936\/cpcy.proj.2019.50733\/60006578","type":"grant","created":{"date-parts":[[2021,9,21]],"date-time":"2021-09-21T23:44:54Z","timestamp":1632267894000},"source":"Crossref","prefix":"10.46936","member":"960","project":[{"project-title":[{"title":"Single-particle
        cryo-EM structural analysis of Q-dependent transcription antitermination"}],"investigator":[{"given":"Chengyuan","family":"Wang","affiliation":[]},{"given":"Harry","family":"Scott","affiliation":[]},{"given":"Irina","family":"Novikova","affiliation":[]},{"given":"Vadim","family":"Molodtsov","affiliation":[]},{"given":"Zhou","family":"Yin","affiliation":[]}],"lead-investigator":[{"given":"Richard","family":"Ebright","affiliation":[]}],"funding":[{"type":"award","funder":{"id":[{"id":"10.13039\/100000015","id-type":"DOI","asserted-by":"publisher"}],"name":"US
        Department of Energy"}}]}],"deposited":{"date-parts":[[2021,10,9]],"date-time":"2021-10-09T20:55:44Z","timestamp":1633812944000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.osti.gov\/award-doi-service\/biblio\/10.46936\/cpcy.proj.2019.50733\/60006578"}},"issued":{"date-parts":[[2019,4,15]]},"URL":"https:\/\/doi.org\/10.46936\/cpcy.proj.2019.50733\/60006578","relation":{},"subject":[]}}'
  recorded_at: Fri, 13 Mar 2026 04:26:44 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Single-particle%2Bcryo-EM%2Bstructural%2Banalysis%2Bof%2BQ-dependent%2Btranscription%2Bantitermination%2B2021%2BOffice%2Bof%2BScientific%2Band%2BTechnical%2BInformation%2B(OSTI)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":6354,"items":[{"indexed":{"date-parts":[[2024,8,29]],"date-time":"2024-08-29T00:27:36Z","timestamp":1724891256560},"publisher-location":"Boca
        Raton","edition-number":"1","reference-count":0,"publisher":"CRC Press","isbn-type":[{"value":"9781003326106","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2024,8,28]]},"DOI":"10.1201\/9781003326106-8","type":"book-chapter","created":{"date-parts":[[2024,8,28]],"date-time":"2024-08-28T21:53:27Z","timestamp":1724882007000},"page":"87-109","source":"Crossref","is-referenced-by-count":0,"title":["Single-Particle
        Cryo-EM"],"prefix":"10.1201","author":[{"given":"Sayan","family":"Bhakta","sequence":"first","affiliation":[]},{"given":"Marin","family":"van
        Heel","sequence":"additional","affiliation":[]}],"member":"301","container-title":["Cryo-Electron
        Microscopy in Structural Biology"],"language":"en","deposited":{"date-parts":[[2024,8,28]],"date-time":"2024-08-28T21:53:38Z","timestamp":1724882018000},"score":38.715965,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9781003326106\/chapters\/10.1201\/9781003326106-8"}},"issued":{"date-parts":[[2024,8,28]]},"ISBN":["9781003326106"],"references-count":0,"URL":"https:\/\/doi.org\/10.1201\/9781003326106-8","published":{"date-parts":[[2024,8,28]]}},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T21:22:55Z","timestamp":1649020975559},"reference-count":0,"publisher":"IOP
        Publishing","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1088\/978-0-7503-3039-8ch2","type":"book-chapter","created":{"date-parts":[[2021,5,19]],"date-time":"2021-05-19T13:23:44Z","timestamp":1621430624000},"source":"Crossref","is-referenced-by-count":0,"title":["Sample
        preparation"],"prefix":"10.1088","member":"266","published-online":{"date-parts":[[2021,5]]},"container-title":["Single-particle
        Cryo-EM of Biological Macromolecules"],"deposited":{"date-parts":[[2021,5,19]],"date-time":"2021-05-19T13:23:47Z","timestamp":1621430627000},"score":35.88382,"resource":{"primary":{"URL":"https:\/\/iopscience.iop.org\/book\/978-0-7503-3039-8\/chapter\/bk978-0-7503-3039-8ch2"}},"editor":[{"given":"Robert
        M","family":"Glaeser","sequence":"first","affiliation":[{"name":"Department
        of Molecular and Cell Biology, University of California, Berkeley, CA 94720,
        USA Lawrence Berkeley National Lab, University of California, Berkeley, CA
        94720, USA"}]},{"given":"Eva","family":"Nogales","sequence":"additional","affiliation":[]},{"given":"Wah","family":"Chiu","sequence":"additional","affiliation":[]}],"issued":{"date-parts":[[2021,5]]},"references-count":0,"[...]
