---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.46409%2F001.rlpt5688
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,9,16]],"date-time":"2024-09-16T16:14:40Z","timestamp":1726503280528},"reference-count":0,"publisher":"University
        of St. Augustine for Health Sciences Library","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["SJOT"],"DOI":"10.46409\/001.rlpt5688","type":"journal-volume","created":{"date-parts":[[2021,6,17]],"date-time":"2021-06-17T19:17:19Z","timestamp":1623957439000},"source":"Crossref","is-referenced-by-count":0,"title":[],"prefix":"10.46409","volume":"1","member":"23747","container-title":["Student
        Journal of Occupational Therapy"],"original-title":[],"deposited":{"date-parts":[[2021,12,31]],"date-time":"2021-12-31T00:46:13Z","timestamp":1640911573000},"score":1,"resource":{"primary":{"URL":"https:\/\/soar.usa.edu\/sjot\/vol1\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"issue-title":["Fall
        2020, Innaugural Issue"],"URL":"https:\/\/doi.org\/10.46409\/001.rlpt5688","archive":["Internet
        Archive"],"relation":{},"ISSN":["2689-1662"],"issn-type":[{"type":"electronic","value":"2689-1662"}],"subject":[]}}'
  recorded_at: Fri, 13 Mar 2026 04:26:48 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=2021%2BUniversity%2Bof%2BSt.%2BAugustine%2Bfor%2BHealth%2BSciences%2BLibrary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1973586,"items":[{"indexed":{"date-parts":[[2025,2,21]],"date-time":"2025-02-21T05:27:44Z","timestamp":1740115664682,"version":"3.37.3"},"reference-count":0,"publisher":"Lexington
        Books","isbn-type":[{"value":"9780739179192","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2012]]},"DOI":"10.5771\/9780739179192-69","type":"book-chapter","created":{"date-parts":[[2025,2,20]],"date-time":"2025-02-20T14:55:41Z","timestamp":1740063341000},"page":"69-86","source":"Crossref","is-referenced-by-count":0,"title":["4
        St. Augustine: Archetypes of Family"],"prefix":"10.5771","member":"3821","container-title":["Augustine
        and Psychology"],"deposited":{"date-parts":[[2025,2,20]],"date-time":"2025-02-20T15:09:02Z","timestamp":1740064142000},"score":25.555016,"resource":{"primary":{"URL":"https:\/\/www.nomos-elibrary.de\/index.php?doi=10.5771\/9780739179192-69"}},"editor":[{"given":"Sandra","family":"Dixon","sequence":"first","affiliation":[]},{"given":"John","family":"Doody","sequence":"additional","affiliation":[]},{"given":"Villanova
        University","family":"Kim Paffenroth, Villanova University","sequence":"additional","affiliation":[]}],"issued":{"date-parts":[[2012]]},"ISBN":["9780739179192"],"references-count":0,"URL":"https:\/\/doi.org\/10.5771\/9780739179192-69","published":{"date-parts":[[2012]]}},{"indexed":{"date-parts":[[2025,3,27]],"date-time":"2025-03-27T05:07:31Z","timestamp":1743052051195,"version":"3.40.3"},"publisher-location":"Dordrecht","reference-count":0,"publisher":"Springer
        Netherlands","isbn-type":[{"type":"print","value":"9781402056130"},{"type":"electronic","value":"9781402056147"}],"license":[{"start":{"date-parts":[[2008,1,1]],"date-time":"2008-01-01T00:00:00Z","timestamp":1199145600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.springer.com\/tdm"},{"start":{"date-parts":[[2008,1,1]],"date-time":"2008-01-01T00:00:00Z","timestamp":1199145600000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2008]]},"DOI":"10.1007\/978-1-4020-5614-7_3356","type":"book-chapter","created":{"date-parts":[[2008,6,2]],"date-time":"2008-06-02T13:28:55Z","timestamp":1212413335000},"page":"1348-1348","source":"Crossref","is-referenced-by-count":0,"title":["St.
        Augustine"],"prefix":"10.1007","member":"297","container-title":["Encyclopedia
        of Public Health"],"language":"en","link":[{"URL":"https:\/\/link.springer.com\/content\/pdf\/10.1007\/978-1-4020-5614-7_3356","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2024,7,11]],"date-time":"2024-07-11T10:51:19Z","timestamp":1720695079000},"score":25.235231,"resource":{"primary":{"URL":"https:\/\/link.springer.com\/10.1007\/978-1-4020-5614-7_3356"}},"issued":{"date-parts":[[2008]]},"ISBN":["9781402056130","9781402056147"],"references-count":0,"URL":"https:\/\/doi.org\/10.1007\/978-1-4020-5614-7_3356","published":{"date-parts":[[2008]]}},{"indexed":{"date-parts":[[2023,9,13]],"date-time":"2023-09-13T08:10:59[...]
