---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1515%2Ftext.2001.011
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,10,8]],"date-time":"2025-10-08T14:57:18Z","timestamp":1759935438830},"reference-count":61,"publisher":"Walter
        de Gruyter GmbH","issue":"4","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2001,1,18]]},"DOI":"10.1515\/text.2001.011","type":"journal-article","created":{"date-parts":[[2006,4,18]],"date-time":"2006-04-18T19:13:40Z","timestamp":1145387620000},"source":"Crossref","is-referenced-by-count":4,"title":["A
        watermelon without seeds: A case study in rhetorical rationality"],"prefix":"10.1515","volume":"21","author":[{"given":"YAIR","family":"NEUMAN","sequence":"first","affiliation":[]},{"given":"YOTAM","family":"LURIE","sequence":"additional","affiliation":[]},{"given":"MICHELE","family":"ROSENTHAL","sequence":"additional","affiliation":[]}],"member":"374","reference":[{"key":"p_1_128","unstructured":"Aran,
        G. (1991). Jewish Zionist fundamentalism: The bloc of the faithful in Israel
        (Gush Emunim). In Fundamentalisms Observed, M. E. Marty and R. S. Appleby
        (eds.), 265-344. Chicago: University of Chicago Press."},{"key":"p_2_129","unstructured":"(1995).
        What''s so funny about fundamentalism? In Fundamentalisms Comprehended, M.
        E. Marty and R. S. Appleby (eds.), 321-354. Chicago: University of Chicago
        Press."},{"key":"p_3_130","unstructured":"Aristotle (1971). The Ethics. Harmondsworth:
        Penguin."},{"key":"p_4_131","unstructured":"(1991). On Rhetoric. Oxford: Oxford
        University Press."},{"key":"p_5_132","unstructured":"(1997). Topics. Oxford:
        Clarendon Press."},{"key":"p_6_133","unstructured":"Bakhtin, M. (1981). The
        Dialogical Imagination. Austin: University of Texas Press."},{"key":"p_7_134","doi-asserted-by":"crossref","unstructured":"Barbe,
        K. (1995). Irony in Context. Amsterdam: Benjamins.","DOI":"10.1075\/pbns.34"},{"issue":"2","key":"p_8_135","doi-asserted-by":"crossref","first-page":"184","DOI":"10.1177\/0196859901025002007","volume":"25","author":"Bekerman
        Z.","year":"2001","journal-title":"Journal of Communication Inquiry"},{"key":"p_9_136","unstructured":"Billig,
        M. (1987). Arguing and Thinking: A Rhetorical Approach to Social Psychology.
        Cambridge: Cambridge University Press."},{"key":"p_10_137","unstructured":"Boone,
        K. C. (1989). The Bible Tells Them So: The Discourse of Protestant Fundamentalism.
        Albany: State University of New York Press."},{"key":"p_11_138","unstructured":"Booth,
        W. C. (1995). The rhetoric of fundamentalist conversion. In Fundamentalisms
        Comprehended, M. E. Marty and R. S. Appleby (eds.), 367-398. Chicago: University
        of Chicago Press."},{"key":"p_12_139","unstructured":"Brown, H. I. (1988).
        Rationality. London: Routledge."},{"key":"p_13_140","unstructured":"Carnap,
        R. (1967). The Logical Structure of the World. London: Routledge."},{"key":"p_14_141","unstructured":"Davidson,
        D. (1984). Inquiries into Truth and Interpretation. Oxford: Clanderon."},{"key":"p_15_142","unstructured":"Dayan,
        Arye (1999). Hamaayan Hametgaber. Sipora Shel T''nvat Shas. [The Story of
        Shas.] Jerusalem: Keter."},{"key":"p_16_143","unstructured":"Descartes, R.
        (1979). Meditations on First Philosophy. Indianapolis: Hackett Publishing."},{"key":"p_17_144","unstructured":"Dilthey,
        W. (1976). Selected Writings. Cambridge: Cambridge University Press."},{"key":"p_18_145","doi-asserted-by":"crossref","unstructured":"Eco,
        U. (1992). Interpretation and history. In Interpretation and Overinterpretation,
        S. Collini (ed.), 23-45. Cambridge: Cambridge University Press.","DOI":"10.1017\/CBO9780511627408.002"},{"key":"p_19_146","unstructured":"Elster,
        J. (1991). Sour Grapes: Studies in the Subversion of Rationality. Cambridge\/New
        York: Cambridge University Press."},{"key":"p_20_147","unstructured":"Fairclough,
        N. (1992). Discourse and Social Change. UK: Polity Press."},{"key":"p_21_148","unstructured":"Feyerabend,
        P. (1978). Against method. In London: New Loft Books."},{"key":"p_22_149","unstructured":"Foucault,
        M. (1977) The Order of Things. London: Tavistock."},{"key":"p_23_150","unstructured":"Friedman,
        M. (1994). Habad as messianic fundamentalism: From local particularism to
        univers[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=A%2Bwatermelon%2Bwithout%2Bseeds:%2BA%2Bcase%2Bstudy%2Bin%2Brhetorical%2Brationality%2B2001%2BWalter%2Bde%2BGruyter%2BGmbH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":111207,"items":[{"indexed":{"date-parts":[[2023,9,12]],"date-time":"2023-09-12T10:46:52Z","timestamp":1694515612116},"reference-count":0,"publisher":"Bloomsbury
        Academic","isbn-type":[{"value":"9781628927597","type":"print"},{"value":"9781628927610","type":"print"},{"value":"9781628927627","type":"electronic"},{"value":"9781628927634","type":"electronic"},{"value":"9781501323591","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.5040\/9781501323591.ch-006","type":"book-chapter","created":{"date-parts":[[2016,10,28]],"date-time":"2016-10-28T11:16:55Z","timestamp":1477653415000},"source":"Crossref","is-referenced-by-count":1,"title":["Meaningfulness,
        Eternity, and Theism\n                  Originally appeared in Beatrix Himmelmann,
        ed. On Meaning in Life (Boston\/Berlin: De Gruyter, 2013): 99\u2013112. Copyright
        \u00a9 2013, Walter de Gruyter GmbH."],"prefix":"10.5040","member":"2984","container-title":["God
        and Meaning : New Essays"],"deposited":{"date-parts":[[2023,9,11]],"date-time":"2023-09-11T21:07:09Z","timestamp":1694466429000},"score":31.48654,"resource":{"primary":{"URL":"https:\/\/www.bloomsburycollections.com\/monograph-detail?docid=b-9781501323591&tocid=b-9781501323591-chapter6"}},"issued":{"date-parts":[[null]]},"ISBN":["9781628927597","9781628927610","9781628927627","9781628927634","9781501323591"],"references-count":0,"URL":"https:\/\/doi.org\/10.5040\/9781501323591.ch-006"},{"indexed":{"date-parts":[[2025,5,17]],"date-time":"2025-05-17T05:40:02Z","timestamp":1747460402582,"version":"3.40.5"},"reference-count":0,"publisher":"DE
        GRUYTER","isbn-type":[{"type":"print","value":"9783110076356"},{"type":"electronic","value":"9783110847864"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1978,12,31]]},"DOI":"10.1515\/9783110847864-007","type":"book-chapter","created":{"date-parts":[[2015,4,28]],"date-time":"2015-04-28T17:01:42Z","timestamp":1430240502000},"page":"89-116","source":"Crossref","is-referenced-by-count":6,"title":["Dr.
        Walter de Gruyter"],"prefix":"10.1515","member":"374","container-title":["Der
        Verlag Walter de Gruyter &amp; Co."],"link":[{"URL":"https:\/\/www.degruyterbrill.com\/document\/doi\/10.1515\/9783110847864-007\/xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.degruyterbrill.com\/document\/doi\/10.1515\/9783110847864-007\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2025,5,17]],"date-time":"2025-05-17T05:26:59Z","timestamp":1747459619000},"score":27.383886,"resource":{"primary":{"URL":"https:\/\/www.degruyterbrill.com\/document\/doi\/10.1515\/9783110847864-007\/html"}},"issued":{"date-parts":[[1978,12,31]]},"ISBN":["9783110076356","9783110847864"],"references-count":0,"alternative-id":["10.1515\/9783110847864-007","10.1515\/9783110847864"],"URL":"https:\/\/doi.org\/10.1515\/9783110847864-007","published":{"date-parts":[[1978,12,31]]}},{"indexed":{"date-parts":[[2025,12,31]],"date-time":"2025-12-31T12:14:08Z","timestamp":1767183248817,"version":"3.28.0"},"reference-count":0,"publisher":"De
        Gruyter","isbn-type":[{"type":"electronic","value":"9783110727968"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2023,1,16]]},"DOI":"10.1515\/9783110727968-017","type":"book-chapter","created":{"date-parts":[[2023,1,19]],"date-time":"2023-01-19T04:41:57[...]
