---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1515%2Fcog.2007.005
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2026,2,14]],"date-time":"2026-02-14T20:42:06Z","timestamp":1771101726329,"version":"3.50.1"},"reference-count":15,"publisher":"Walter
        de Gruyter GmbH","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2007,1,19]]},"DOI":"10.1515\/cog.2007.005","type":"journal-article","created":{"date-parts":[[2007,9,25]],"date-time":"2007-09-25T11:32:28Z","timestamp":1190719948000},"source":"Crossref","is-referenced-by-count":96,"title":["The
        semantic categories of cutting and breaking events: A crosslinguistic perspective"],"prefix":"10.1515","volume":"18","author":[{"given":"Asifa","family":"Majid","sequence":"first","affiliation":[]},{"given":"Melissa","family":"Bowerman","sequence":"additional","affiliation":[]},{"given":"Miriam
        van","family":"Staden","sequence":"additional","affiliation":[]},{"given":"James
        S","family":"Boster","sequence":"additional","affiliation":[]}],"member":"374","reference":[{"key":"p_8","first-page":"133","author":"Bowerman
        Melissa","year":"1989","journal-title":"Baltimore: Brooks"},{"key":"p_10","first-page":"33","author":"Bowerman
        Melissa","year":"2005","journal-title":"Mahwah, NJ: Lawrence Erlbaum"},{"key":"p_17","first-page":"449","author":"Clark
        Eve V","year":"1976","journal-title":"CA: Anna Libri"},{"key":"p_23","doi-asserted-by":"crossref","first-page":"257","DOI":"10.1075\/sl.13.2.03dry","volume":"13","author":"Dryer
        Matthew S","year":"1989","journal-title":"Studies in Language"},{"key":"p_27","doi-asserted-by":"publisher","DOI":"10.1207\/s15327817la0101_2"},{"key":"p_33","first-page":"48","author":"Guerssel
        Mohamed","year":"1985","journal-title":"Chicago Linguistic Society"},{"key":"p_45","first-page":"885","author":"Majid
        Asifa","year":"2004","journal-title":"Chicago, IL: Cognitive Science Soc[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=The%2Bsemantic%2Bcategories%2Bof%2Bcutting%2Band%2Bbreaking%2Bevents:%2BA%2Bcrosslinguistic%2Bperspective%2B2007%2BWalter%2Bde%2BGruyter%2BGmbH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":42466,"items":[{"indexed":{"date-parts":[[2025,8,15]],"date-time":"2025-08-15T01:14:46Z","timestamp":1755220486371,"version":"3.43.0"},"reference-count":0,"publisher":"BRILL","isbn-type":[{"type":"electronic","value":"9789004362826"},{"type":"print","value":"9789004353022"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2018,6,25]]},"DOI":"10.1163\/9789004362826_005","type":"book-chapter","created":{"date-parts":[[2019,8,1]],"date-time":"2019-08-01T23:04:15Z","timestamp":1564700655000},"page":"71-98","source":"Crossref","is-referenced-by-count":0,"title":["The
        Crosslinguistic Categorization of Everyday Events: The Case of \u201cCutting
        and Breaking\u201d"],"prefix":"10.1163","author":[{"given":"Melissa","family":"Bowerman","sequence":"first","affiliation":[]}],"member":"374","container-title":["Ten
        Lectures on Language, Cognition, and Language Acquisition"],"link":[{"URL":"https:\/\/brill.com\/view\/book\/9789004362826\/BP000012.xml","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/brill.com\/downloadpdf\/title\/35672","content-type":"text\/html","content-version":"vor","intended-application":"syndication"}],"deposited":{"date-parts":[[2025,8,8]],"date-time":"2025-08-08T02:40:42Z","timestamp":1754620842000},"score":36.713093,"resource":{"primary":{"URL":"https:\/\/brill.com\/view\/book\/9789004362826\/BP000012.xml"}},"issued":{"date-parts":[[2018,6,25]]},"ISBN":["9789004362826","9789004353022"],"references-count":0,"URL":"https:\/\/doi.org\/10.1163\/9789004362826_005","published":{"date-parts":[[2018,6,25]]}},{"indexed":{"date-parts":[[2025,7,3]],"date-time":"2025-07-03T16:10:03Z","timestamp":1751559003118,"version":"3.41.0"},"publisher-location":"Amsterdam","reference-count":0,"publisher":"John
        Benjamins Publishing Company","isbn-type":[{"type":"print","value":"9789027206817"},{"type":"electronic","value":"9789027275004"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2012,5,9]]},"abstract":"<jats:p>This
        paper explores the role of various types of location control in descriptions
        of placement events in Hungarian. It will be shown that general verb choices
        cannot be explained in terms of spatial relations (such as containment and
        support) or spatial relational changes (such as joining and separation). On
        the contrary, all main verb distinctions within the placement domain can be
        described in terms of agentive control settings between the Figure and agentive
        entities (e.g., the Agent, other persons). In Hungarian, only events with
        continuous agentive control along the motion trajectory are described as either
        \u2018putting\u2019 or \u2018taking\u2019, and only events where the Figure
        is furthermore controlled by a non-agentive entity at the Goal are described
        as \u2018putting\u2019.<\/jats:p>","DOI":"10.1075\/tsl.100.13and","type":"book-chapter","created":{"date-parts":[[2014,3,23]],"date-time":"2014-03-23T22:21:38Z","timestamp":1395613298000},"page":"183-200","source":"Crossref","is-referenced-by-count":3,"title":["The
        semantic role of agentive control in Hungarian placement events"],"prefix":"10.1075","author":[{"given":"Attila","family":"Andics","sequence":"first","affiliation":[{"id":[{"id":"https:\/\/ror.org\/00671me87","id-type":"ROR","asserted-by":"publisher"}],"name":"Max
        Planck Institute for Psycholinguistics, Nijmegen, the Netherlands"}]}],"member":"1757","published-online":{"date-parts":[[2012,4,23]]},"container-title":["Typological
        Studies in Language","Events of Putting and Taking"],"language":"en","deposited":{"date-parts":[[2025,7,3]],"date-time":"2025-07-03T15:39:27Z","timestamp":1751557167000},"score":34.223526,"resource":{"primary":{"URL":"https:\/\/benjamins.com\/catalog\/tsl.100.13and"},"secondary":[{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1075\/tsl.100.13and\/html","label":"DeGruyter"}]},"issued":{"date-parts":[[2012,4,23]]},"ISBN":["9789027206817","9789027275004"],"references-count":0,"URL":"https:\/\/doi.org\/10.1075\/tsl.100.13and","archive":["Portico"],"ISSN":["0167-7373"],"issn-type":[{"type":"print","value":"0167-7373"}],"published":{"date-parts":[[2012,4,23]]}},{"indexed":{"date-parts":[[2025,7,3]],"date-time":"2025-07-03T16:10:02Z","timestamp":1751559002896,"version":"3.41.0"},"publisher-location":"Amsterdam","reference-count":0,"publisher":"John
        Benjamins Publishing Company","isbn-type":[{"type":"print","value":"9789027206817"},{"type":"electronic","value":"9789027275004"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2012,5,9]]},"abstract":"<jats:p>This
        chapter explores the expression of placement (or <jats:italic>Goal-oriented<\/jats:italic>)
        and removal (or <jats:italic>Source-oriented<\/jats:italic>) events by speakers
        of Polish (a West Slavic language). Its aim is to investigate the hypothesis
        known as \u2018Source\/Goal asymmetry\u2019 according to which languages tend
        to favor the expression of Goals (e.g., <jats:italic>into, onto<\/jats:italic>)
        and to encode them more systematically and in a more fine-grained way than
        Sources (e.g., <jats:italic>from[...]
