---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.46528%2Fjk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:47:14Z","timestamp":1648950434482},"reference-count":0,"publisher":"JUNI
        KHYAT","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.46528\/jk","type":"journal","created":{"date-parts":[[2020,6,5]],"date-time":"2020-06-05T19:06:33Z","timestamp":1591383993000},"source":"Crossref","is-referenced-by-count":0,"title":["Juni
        Khyat Journal"],"prefix":"10.46528","member":"25841","container-title":[],"original-title":[],"deposited":{"date-parts":[[2020,6,5]],"date-time":"2020-06-05T19:06:33Z","timestamp":1591383993000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.junikhyat.com\/"}},"subtitle":[],"short-title":["Juni
        Khyat"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"https:\/\/doi.org\/10.46528\/jk","relation":{},"ISSN":["2278-4632"],"issn-type":[{"value":"2278-4632","type":"print"}],"subject":[]}}'
  recorded_at: Wed, 08 Apr 2026 19:51:31 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Juni%2BKhyat%2BJournal%2B2020%2BJUNI%2BKHYAT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1349295,"items":[{"indexed":{"date-parts":[[2024,4,14]],"date-time":"2024-04-14T14:10:35Z","timestamp":1713103835863},"reference-count":0,"publisher":"De
        Gruyter","isbn-type":[{"value":"9783050085159","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2020,12,31]]},"DOI":"10.1515\/9783050085159-023","type":"book-chapter","created":{"date-parts":[[2020,3,31]],"date-time":"2020-03-31T21:43:18Z","timestamp":1585690998000},"page":"723-810","source":"Crossref","is-referenced-by-count":0,"title":["Juni
        1860"],"prefix":"10.1515","member":"374","container-title":["Karl Marx \/
        Friedrich Engels: Briefwechsel, Juni 1860 bis Dezember 1861"],"link":[{"URL":"https:\/\/www.degruyter.com\/view\/book\/9783050085159\/10.1515\/9783050085159-023.xml","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783050085159-023\/xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783050085159-023\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2024,4,14]],"date-time":"2024-04-14T13:33:36Z","timestamp":1713101616000},"score":32.65314,"resource":{"primary":{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783050085159-023\/html"}},"issued":{"date-parts":[[2020,12,31]]},"ISBN":["9783050085159"],"references-count":0,"alternative-id":["10.1515\/9783050085159-023","10.1515\/9783050085159"],"URL":"https:\/\/doi.org\/10.1515\/9783050085159-023","published":{"date-parts":[[2020,12,31]]}},{"indexed":{"date-parts":[[2024,4,14]],"date-time":"2024-04-14T14:10:37Z","timestamp":1713103837820},"reference-count":0,"publisher":"De
        Gruyter","isbn-type":[{"value":"9783050085159","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2020,12,31]]},"DOI":"10.1515\/9783050085159-001","type":"book-chapter","created":{"date-parts":[[2020,3,31]],"date-time":"2020-03-31T21:43:18Z","timestamp":1585[...]
