---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1515%2F9783110889406
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2026,1,8]],"date-time":"2026-01-08T05:36:02Z","timestamp":1767850562359,"version":"3.49.0"},"reference-count":0,"publisher":"DE
        GRUYTER MOUTON","isbn-type":[{"value":"9783110170269","type":"print"},{"value":"9783110889406","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2001,12,31]]},"DOI":"10.1515\/9783110889406","type":"edited-book","created":{"date-parts":[[2011,3,18]],"date-time":"2011-03-18T18:18:11Z","timestamp":1300472291000},"source":"Crossref","is-referenced-by-count":85,"title":["Multilingualism,
        Second Language Learning, and Gender"],"prefix":"10.1515","member":"374","published-online":{"date-parts":[[2001,12,31]]},"container-title":[],"original-title":[],"link":[{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783110889406\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2025,5,17]],"date-time":"2025-05-17T11:01:46Z","timestamp":1747479706000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.degruyterbrill.com\/document\/doi\/10.1515\/9783110889406\/html"}},"subtitle":[""],"editor":[{"given":"Aneta","family":"Pavlenko","sequence":"first","affiliation":[]},{"given":"Adrian","family":"Blackledge","sequence":"additional","affiliation":[]},{"given":"Ingrid","family":"Piller","sequence":"additional","affiliation":[]},{"given":"Marya","family":"Teutsch-Dwyer","sequence":"additional","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[2001,12,31]]},"ISBN":["9783110170269","9783110889406"],"references-count":0,"alternative-id":["10.1515\/9783110889406"],"URL":"https:\/\/doi.org\/10.1515\/9783110889406","relation":{},"subject":[],"published":{"date-parts":[[2001,12,31]]}}}'
  recorded_at: Tue, 03 Mar 2026 18:06:28 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Multilingualism,%2BSecond%2BLanguage%2BLearning,%2Band%2BGender%2B2001%2BDE%2BGRUYTER%2BMOUTON
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2440385,"items":[{"indexed":{"date-parts":[[2025,12,16]],"date-time":"2025-12-16T12:14:55Z","timestamp":1765887295112,"version":"3.40.5"},"reference-count":0,"publisher":"DE
        GRUYTER MOUTON","isbn-type":[{"type":"print","value":"9783110170269"},{"type":"electronic","value":"9783110889406"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2001,12,31]]},"DOI":"10.1515\/9783110889406.1","type":"book-chapter","created":{"date-parts":[[2011,3,18]],"date-time":"2011-03-18T18:18:11Z","timestamp":1300472291000},"page":"1-14","source":"Crossref","is-referenced-by-count":3,"title":["Introduction:
        Multilingualism, second language learning, and gender Ingrid"],"prefix":"10.1515","author":[{"given":"Piller","family":"Pavlenko","sequence":"first","affiliation":[]},{"given":"Aneta","family":"Pavlenko","sequence":"additional","affiliation":[]}],"member":"374","container-title":["Multilingualism,
        Second Language Learning, and Gender"],"link":[{"URL":"https:\/\/www.degruyterbrill.com\/document\/doi\/10.1515\/9783110889406.1\/xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.degruyterbrill.com\/document\/d[...]
