---
http_interactions:
- request:
    method: post
    uri: https://documents.un.org/api/search?l=en&rid=4fd57f88-ed17-408d-a801-6184e3939ddf
    body:
      encoding: UTF-8
      string: '{"symbol":"NOT/FOUND","jobNumber":"","publicationDate":"* TO *","releaseDate":"*
        TO *","title":"","subject":"","session":"","agenda":"","truncation":false,"fullTextSearch":{"language":"en","searchText":""},"sortOptions":{"sortField":"Sort
        by relevance"},"pagination":{"currentPage":1,"itemsPerPage":20},"screenLanguage":"en","tcodes":[]}'
    headers:
      Authorization:
      - "<UN_AUTH_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"47-GTFOVIOn7+C1Q+InJYMy91ux42k"
    body:
      encoding: UTF-8
      string: '{"status":1,"body":{"data":[],"meta":{"matches":0,"numberOfGroups":0}}}'
  recorded_at: Fri, 13 Mar 2026 15:18:10 GMT
recorded_with: VCR 6.4.0
