---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1108%2Foxan-es268033
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:46:06Z","timestamp":1648950366145},"reference-count":0,"publisher":"Emerald","license":[{"start":{"date-parts":[[2022,3,17]],"date-time":"2022-03-17T00:00:00Z","timestamp":1647475200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.emerald.com\/insight\/site-policies"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2022,3,17]]},"abstract":"<jats:sec
        sec-type=\"headline\">\n               <jats:title content-type=\"abstract-subheading\">Headline<\/jats:title>\n               <jats:p>HONDURAS:
        Extradition would help Castro\u2019s image<\/jats:p>\n            <\/jats:sec>","DOI":"10.1108\/oxan-es268033","type":"other","created":{"date-parts":[[2022,3,17]],"date-time":"2022-03-17T13:29:50Z","timestamp":1647523790000},"source":"Crossref","is-referenced-by-count":0,"title":["Extradition
        would boost image of Honduras\u2019s Castro"],"prefix":"10.1108","member":"140","container-title":["Emerald
        Expert Briefings"],"original-title":[],"link":[{"URL":"https:\/\/www.emerald.com\/insight\/content\/doi\/10.1108\/OXAN-ES268033\/full\/xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.emerald.com\/insight\/content\/doi\/10.1108\/OXAN-ES268033\/full\/html","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2022,3,17]],"date-time":"2022-03-17T13:29:51Z","timestamp":1647523791000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.emerald.com\/insight\/content\/doi\/10.1108\/OXAN-ES268033\/full\/html"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2022,3,17]]},"references-count":0,"alternative-id":["10.1108\/OXAN-ES268033"],"URL":"https:\/\/doi.org\/10.1108\/oxan-es268033","relation":{},"ISSN":["2633-304X"],"issn-type":[{"value":"2633-304X","type":"print"}],"subject":[],"published":{"date-parts":[[2022,3,17]]}}}'
  recorded_at: Wed, 08 Apr 2026 19:51:32 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Extradition%2Bwould%2Bboost%2Bimage%2Bof%2BHonduras%E2%80%99s%2BCastro%2B2022%2BEmerald
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1368069,"items":[{"indexed":{"date-parts":[[2025,5,14]],"date-time":"2025-05-14T09:30:17Z","timestamp":1747215017291,"version":"3.40.5"},"reference-count":0,"publisher":"University
        of Warsaw Press","isbn-type":[{"type":"print","value":"9788323565444"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2024]]},"DOI":"10.31338\/uw.9788323565444.pp.9-13","type":"book-chapter","created":{"date-parts":[[2024,6,27]],"date-time":"2024-06-27T09:02:24Z","timestamp":1719478944000},"source":"Crossref","is-referenced-by-count":0,"title":["Wst\u0119p"],"prefix":"10.31338","author":[{"ORCID":"https:\/\/orcid.org\/0000-0002-1921-1073","authenticated-orcid":false,"given":"Zbigniew","family":"Lasocik","sequence":"first","affiliation":[]}],"member":"4211","published-online":{"date-parts":[[2024]]},"container-title":["Wok\u00f3\u0142
        ekstradycji Romana Pola\u0144skiego. Sp\u00f3r prawny czy cywilizacyjny? \/
        The Would-Be Extradition of Roman Polanski. A Legal or Societal Dispute?"],"link":[{"URL":"https:\/\/www.wuw.pl\/product-pol-19536-Wokol-ekstradycji-Romana-Polanskiego-Spor-prawny-czy-cywilizacyjny-The-Would-Be-Extradition-of-Roman-Polanski-A-Legal-or-Societal-Dispute-EBOOK.html","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2024,6,27]],"date-time":"2024-06-27T09:02:31Z","timestamp":1719478951000},"score":22.354969,"resource":{"primary":{"URL":"https:\/\/www.wuw.pl\/product-pol-19536-Wokol-ekstradycji-Romana-Polanskiego-Spor-prawny-czy-cywilizacyjny-The-Would-Be-Extradition-of-Roman-Polanski-A-Legal-or-Societal-Dispute-EBOOK.html"}},"issued":{"date-parts":[[2024]]},"ISBN":["9788323565444"],"references-count":0,"URL":"https:\/\/doi.org\/10.31338\/uw.9788323565444.pp.9-13","published":{"date-parts":[[2024]]}},{"indexed":{"date-parts":[[2024,5,13]],"date-time":"2024-05-13T14:20:12Z","timestamp":1715610012757},"publisher-location":"London","edition-number":"1","reference-count":0,"publisher":"Routledge","isbn-type":[{"value":"9780429956683","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2022,4,28]]},"DOI":"10.4324\/9780429956683-7","type":"book-chapter","created":{"date-parts":[[2022,4,28]],"date-time":"2022-04-28T12:08:44Z","timestamp":1651147724000},"page":"83-93","source":"Crossref","is-referenced-by-count":0,"title":["Extradition
        and terrorism"],"prefix":"10.4324","author":[{"given":"Harmen van der","family":"Wilt","sequence":"first","affiliation":[]}],"member":"301","container-title":["The
        Law and Practice of Extradition"],"language":"en","deposited":{"date-parts":[[2022,4,28]],"date-time":"2022-04-28T12:08:52Z","timestamp":1651147732000},"score":21.833904,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9780429956683\/chapters\/10.4324\/9780429956683-7"}},"issued":{"date-parts":[[2022,4,28]]},"ISBN":["9780429956683"],"references-count":0,"URL":"https:\/\/doi.org\/10.4324\/9780429956683-7","published":{"date-parts":[[2022,4,28]]}},{"indexed":{"date-parts":[[2024,5,13]],"date-time":"2024-05-13T14:20:14Z",[...]
