---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1101%2F751156
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"bioRxiv"}],"indexed":{"date-parts":[[2026,1,15]],"date-time":"2026-01-15T13:29:27Z","timestamp":1768483767781,"version":"3.49.0"},"posted":{"date-parts":[[2019,8,30]]},"group-title":"Microbiology","reference-count":71,"publisher":"openRxiv","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"accepted":{"date-parts":[[2019,8,29]]},"abstract":"<jats:title>ABSTRACT<\/jats:title>\n                <jats:p>\n                  Lsr2-like
        nucleoid-associated proteins play an important role as xenogeneic silencers
        (XS) of horizontally acquired genomic regions in actinobacteria. In this study,
        we systematically analyzed the in vivo constraints underlying silencing and
        counter-silencing of the Lsr2-like protein CgpS in\n                  <jats:italic>Corynebacterium
        glutamicum<\/jats:italic>\n                  . Genome-wide analysis revealed
        binding of CgpS to regions featuring a distinct drop in GC-profile close to
        the transcription start site (TSS), but also identified an overrepresented
        motif with multiple A\/T steps at the nucleation site of the nucleoprotein
        complex. Binding of specific transcription factors (TFs) may oppose XS activity
        leading to counter-silencing. Following a synthetic counter-silencing approach,
        target gene activation was realized by inserting operator sites of an effector-responsive
        TF within various CgpS target promoters resulting in an increased promoter
        activity upon TF binding. Analysis of reporter constructs revealed maximal
        counter-silencing when the TF operator site was inserted at the position of
        maximal CgpS coverage. This principle was implemented in a synthetic toggle
        switch, which features a robust and reversible response to effector availability
        highlighting the potential for biotechnological applications. Altogether,
        our results provide comprehensive insights into how Lsr2 silencing and counter-silencing
        shapes evolutionary network expansion in this medically- and biotechnologically-relevant
        bacterial phylum.\n                <\/jats:p>\n                <jats:sec>\n                  <jats:title>IMPORTANCE<\/jats:title>\n                  <jats:p>\n                    In
        actinobacteria, Lsr2-like nucleoid-associated proteins function as xenogeneic
        silencers (XS) of horizontally acquired genomic regions, including viral elements,
        virulence gene clusters in\n                    <jats:italic>Mycobacterium
        tuberculosis<\/jats:italic>\n                    , and genes involved in cryptic
        specialized metabolism in\n       [...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Deciphering%2Bthe%2Brules%2Bunderlying%2Bxenogeneic%2Bsilencing%2Band%2Bcounter-silencing%2Bof%2BLsr2-like%2Bproteins%2B2019%2BopenRxiv
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":9044,"items":[{"indexed":{"date-parts":[[2025,3,25]],"date-time":"2025-03-25T14:35:18Z","timestamp":1742913318126,"version":"3.40.3"},"publisher-location":"Singapore","reference-count":174,"publisher":"Springer
        Singapore","isbn-type":[{"type":"print","value":"9789811334108"},{"type":"electronic","value":"9789811334115"}],"license":[{"start":{"date-parts":[[2019,1,1]],"date-time":"2019-01-01T00:00:00Z","timestamp":1546300800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"published-print":{"date-parts":[[2019]]},"DOI":"10.1007\/978-981-13-3411-5_1","type":"book-chapter","created":{"date-parts":[[2019,2,21]],"date-time":"2019-02-21T06:24:47Z","timestamp":1550730287000},"page":"1-27","update-policy":"https:\/\/doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":2,"title":["Xenogeneic
        Silencing and Horizontal Gene Transfer"],"prefix":"10.1007","author":[{"given":"Chiho","family":"Suzuki-Minakuchi","sequence":"first","affiliation":[]},{"given":"William
        Wiley","family":"Navarre","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2019,2,22]]},"reference":[{"key":"1_CR1","doi-asserted-by":"publisher","first-page":"616","DOI":"10.1016\/j.gde.2004.09.004","volume":"14","author":"V
        Daubin","year":"2004","unstructured":"Daubin V, Ochman H. Start-up entities
        in the origin of new genes. Curr Opin Genet Dev. 2004;14:616\u20139. https:\/\/doi.org\/10.1016\/j.gde.2004.09.004
        .","journal-title":"Curr Opin Genet Dev"},{"key":"1_CR2","doi-asserted-by":"publisher","first-page":"161","DOI":"10.1016\/j.virusres.2017.08.005","volume":"240","author":"Y
        Gao","year":"2017","unstructured":"Gao Y, Zhao H, Jin Y, Xu X, Han GZ. Extent
        and evolution of gene duplication in DNA viruses. Virus Res. 2017;240:161\u20135.
        https:\/\/doi.org\/10.1016\/j.virusres.2017.08.005 .","journal-title":"Virus
        Res"},{"key":"1_CR3","doi-asserted-by":"publisher","first-page":"73","DOI":"10.1016\/j.sbi.2014.05.006","volume":"26","author":"S
        Light","year":"2014","unstructured":"Light S, Basile W, Elofsson A. Orphans
        and new gene origination, a structural and evolutionary perspective. Curr
        Opin Struct Biol. 2014;26:73\u201383. https:\/\/doi.org\/10.1016\/j.sbi.2014.05.006
        .","journal-title":"Curr [...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1128%2Fmbio.02273-19
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2026,2,27]],"date-time":"2026-02-27T03:31:21Z","timestamp":1772163081229,"version":"3.50.1"},"reference-count":70,"publisher":"American
        Society for Microbiology","issue":"1","license":[{"start":{"date-parts":[[2020,2,4]],"date-time":"2020-02-04T00:00:00Z","timestamp":1580774400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"},{"start":{"date-parts":[[2020,2,25]],"date-time":"2020-02-25T00:00:00Z","timestamp":1582588800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/journals.asm.org\/non-commercial-tdm-license"}],"content-domain":{"domain":["journals.asm.org"],"crossmark-restriction":true},"short-container-title":["mBio"],"published-print":{"date-parts":[[2020,2,25]]},"abstract":"<jats:p>\n                    In
        actinobacteria, Lsr2-like nucleoid-associated proteins function as xenogeneic
        silencers (XS) of horizontally acquired genomic regions, including viral elements,
        virulence gene clusters in\n                    <jats:named-content content-type=\"genus-species\">Mycobacterium
        tuberculosis<\/jats:named-content>\n                    , and genes involved
        in cryptic specialized metabolism in\n                    <jats:italic>Streptomyces<\/jats:italic>\n                    species.
        Consequently, a detailed mechanistic understanding of Lsr2 binding\n                    <jats:italic>in
        vivo<\/jats:italic>\n                    is relevant as a potential drug target
        and for the identificatio[...]
