---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.15405%2Fepsbs(2357-1330).2021.6.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T13:22:57Z","timestamp":1648560177705},"reference-count":0,"publisher":"European
        Publisher","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.15405\/epsbs(2357-1330).2021.6.1","type":"proceedings-series","created":{"date-parts":[[2021,5,31]],"date-time":"2021-05-31T11:58:47Z","timestamp":1622462327000},"source":"Crossref","is-referenced-by-count":0,"title":["European
        Proceedings of Social and Behavioural Sciences"],"prefix":"10.15405","member":"6078","event":{"name":"Psychosocial
        Risks in Education and Quality Educational Processes","acronym":"CIPE 2020"},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2022,1,17]],"date-time":"2022-01-17T12:55:18Z","timestamp":1642424118000},"score":1,"resource":{"primary":{"URL":"https:\/\/europeanproceedings.com\/book-series\/EpSBS\/books\/vol109-cipe-2020"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"https:\/\/doi.org\/10.15405\/epsbs(2357-1330).2021.6.1","relation":{},"ISSN":["2357-1330"],"issn-type":[{"value":"2357-1330","type":"print"}],"subject":[]}}'
  recorded_at: Tue, 03 Mar 2026 18:06:31 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=European%2BProceedings%2Bof%2BSocial%2Band%2BBehavioural%2BSciences%2B2021%2BEuropean%2BPublisher
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2181827,"items":[{"indexed":{"date-parts":[[2023,9,12]],"date-time":"2023-09-12T10:16:46Z","timestamp":1694513806316},"reference-count":0,"publisher":"Hart
        Publishing","isbn-type":[{"value":"9781474203463","type":"electronic"},{"value":"9781782259480","type":"electronic"},{"value":"9781849467322","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.5040\/9781474203463.ch-002","type":"book-chapter","created":{"date-parts":[[2015,12,22]],"date-time":"2015-12-22T09:52:20Z","timestamp":1450777940000},"source":"Crossref","is-referenced-by-count":0,"title":["Behavioural
        Sciences in Practice: Lessons for EU Rulemakers"],"prefix":"10.5040","member":"2984","container-title":["Nudge
        and the Law : A European Perspective"],"deposited":{"date-parts":[[2023,9,11]],"date-time":"2023-09-11T23:38:47Z","timestamp":1694475527000},"score":23.717646,"resource":{"primary":{"URL":"https:\/\/www.bloomsburycollections.com\/monograph-detail?docid=b-9781474203463&tocid=b-9781474203463-chapter2"}},"issued":{"date-parts":[[null]]},"ISBN":["9781474203463","9781782259480","9781849467322"],"references-count":0,"URL":"https:\/\/doi.org\/10.5040\/9781474203463.ch-002"},{"indexed":{"date-parts":[[2023,9,12]],"date-time":"2023-09-12T10:16:52Z","timestamp":1694513812821},"reference-count":0,"publisher":"Hart
        Publishing","isbn-type":[{"value":"9781474203463","type":"electronic"},{"value":"9781782259480","type":"electronic"},{"value":"9781849467322","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI[...]
