---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1109%2Ficpadm.1994.414074
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,10,30]],"date-time":"2024-10-30T02:01:51Z","timestamp":1730253711466,"version":"3.28.0"},"reference-count":6,"publisher":"IEEE","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1109\/icpadm.1994.414074","type":"proceedings-article","created":{"date-parts":[[2002,12,17]],"date-time":"2002-12-17T12:43:37Z","timestamp":1040129017000},"page":"570-573","source":"Crossref","is-referenced-by-count":6,"title":["Electromagnetic
        spectrum caused by partial discharge in air under AC and DC voltage application"],"prefix":"10.1109","volume":"2","author":[{"given":"M.","family":"Hikita","sequence":"first","affiliation":[]},{"given":"H.","family":"Yamashita","sequence":"additional","affiliation":[]},{"given":"T.","family":"Kato","sequence":"additional","affiliation":[]},{"given":"N.","family":"Hayakawa","sequence":"additional","affiliation":[]},{"given":"T.","family":"Ueda","sequence":"additional","affiliation":[]},{"given":"H.","family":"Okubo","sequence":"additional","affiliation":[]}],"member":"263","reference":[{"key":"ref4","first-page":"121","article-title":"phase-resolved
        partial discharge measurements and their electromagnetic spectrum in sf\/sub
        6\/ gas","author":"hikita","year":"1993","journal-title":"International Conference
        on Partial Discharge (Conf Publ No 378)"},{"key":"ref3","article-title":"On
        spatial phase difference method for detecting E-M signals associated with
        partial discharges in power apparatus","volume":"66","author":"kawasaki","year":"1993","journal-title":"6th
        Int Symp High Voltage Eng"},{"year":"1991","author":"paul","journal-title":"Electromagnetic
        Compatibility","key":"ref6"},{"key":"ref5","article-title":"Partial discharge
        measurement of SF6 gas using phase-resolved pulse height analysis and its
        application to assess the condition of insulation in GIS","volume":"66","author":"hikita","year":"1993","journal-title":"6th
        Int Symp High Voltage Eng"},{"doi-asserted-by":"publisher","key":"ref2","DOI":"10.1109\/61.141837"},{"doi-asserted-by":"publisher","key":"ref1","DOI":"10.1109\/14.85104"}],"event":{"acronym":"ICPADM-94","name":"1994
        4th International Conference on Properties and Applications of Dielectric
        Materials (ICPADM)","location":"Brisbane, Qld., Australia"},"container-title":["Proceedings
        of 1994 4th International Conference on Properties and Applications of Dielectric
        Materials (ICPADM)"],"original-title":[],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx2\/3163\/9216\/00414074.pdf?arnumber=414074","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,3,9]],"date-time":"2017-03-09T07:33:32Z","timestamp":1489044812000},"score":1,"resource":{"primary":{"URL":"http:\/\/ieeexplore.ieee.org\/document\/414074\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":6,"URL":"https:\/\/doi.org\/10.1109\/icpadm.1994.414074","relation":{},"subject":[]}}'
  recorded_at: Wed, 01 Apr 2026 18:25:23 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Electromagnetic%2Bspectrum%2Bcaused%2Bby%2Bpartial%2Bdischarge%2Bin%2Bair%2Bunder%2BAC%2Band%2BDC%2Bvoltage%2Bapplication%2B2002%2BIEEE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":15862,"items":[{"indexed":{"date-parts":[[2026,2,24]],"date-time":"2026-02-24T10:14:03Z","timestamp":1771928043082,"version":"3.50.1"},"reference-count":0,"publisher":"TEWISS
        \u2013 Technik und Wissen GmbH","isbn-type":[{"value":"9783959004930","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2020]]},"DOI":"10.51202\/9783959004930-54","type":"book-chapter","created":{"date-parts":[[2026,2,24]],"date-time":"2026-02-24T09:23:11Z","timestamp":1771924991000},"page":"54-112","source":"Crossref","is-referenced-by-count":0,"title":["4
        PD under AC, DC, and Combined AC\/DC Voltages"],"prefix":"10.51202","author":[{"given":"Hassan","family":"Saadati","sequence":"first","affiliation":[]}],"member":"28402","container-title":["Partial
        Discharge and Breakdown of Solid Dielectrics under AC, DC, and Combined AD\/DC
        High Voltage Stresses"],"deposited":{"date-parts":[[2026,2,24]],"date-time":"2026-02-24T09:24:01Z","timestamp":1771925041000},"score":50.834442,"resource":{"primary":{"URL":"https:\/\/www.inlibra.com\/index.php?doi=10.51202\/9783959004930-54"}},"issued":{"date-parts":[[2020]]},"ISBN":["9783959004930"],"references-count":0,"URL":"https:\/\/doi.org\/10.51202\/9783959004930-54","published":{"date-parts":[[2020]]}},{"indexed":{"date-parts":[[2026,2,24]],"date-time":"2026-02-24T10:14:01Z","timestamp":1771928041886,"version":"3.50.1"},"reference-count":0,"publisher":"TEWISS
        \u2013 Technik und Wissen GmbH","isbn-type":[{"value":"9783959004930","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2020]]},"DOI":"10.51202\/9783959004930-33","type":"book-chapter","created":{"date-parts":[[2026,2,24]],"date-time":"2026-02-2[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=Proceedings%20of%201994%204th%20International%20Conference%20on%20Properties%20and%20Applications%20of%20Dielectric%20Materials%20(ICPADM)%2B2002
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limi[...]
