---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1145%2F1947940
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:44:59Z","timestamp":1648950299666},"publisher-location":"New
        York, New York, USA","reference-count":0,"publisher":"ACM Press","isbn-type":[{"value":"9781450304641","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2011]]},"DOI":"10.1145\/1947940","type":"proceedings","created":{"date-parts":[[2011,3,4]],"date-time":"2011-03-04T13:14:52Z","timestamp":1299244492000},"source":"Crossref","is-referenced-by-count":1,"title":["Proceedings
        of the 2011 International Conference on Communication, Computing &amp; Security
        - ICCCS ''11"],"prefix":"10.1145","member":"320","event":{"name":"the 2011
        International Conference","location":"Rourkela, Odisha, India","acronym":"ICCCS
        ''11","number":"2011","start":{"date-parts":[[2011,2,12]]},"end":{"date-parts":[[2011,2,14]]}},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2011,3,4]],"date-time":"2011-03-04T13:14:55Z","timestamp":1299244495000},"score":1,"resource":{"primary":{"URL":"http:\/\/portal.acm.org\/citation.cfm?doid=1947940"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2011]]},"ISBN":["9781450304641"],"references-count":0,"URL":"https:\/\/doi.org\/10.1145\/1947940","relation":{},"subject":[],"published":{"date-parts":[[2011]]}}}'
  recorded_at: Fri, 13 Mar 2026 04:26:56 GMT
recorded_with: VCR 6.4.0
