---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1093%2Fww%2F9780199540884.013.u52741
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2026,2,7]],"date-time":"2026-02-07T23:10:09Z","timestamp":1770505809092,"version":"3.49.0"},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2007,12,1]]},"DOI":"10.1093\/ww\/9780199540884.013.u52741","type":"reference-entry","created":{"date-parts":[[2018,7,6]],"date-time":"2018-07-06T06:04:41Z","timestamp":1530857081000},"source":"Crossref","is-referenced-by-count":0,"title":["Boxer,
        Rear-Adm. Henry Percy, (14 Oct. 1885\u201330 June 1961)"],"prefix":"10.1093","member":"286","container-title":["Who
        Was Who"],"original-title":["Boxer, Rear-Adm. Henry Percy, (14 Oct. 1885\u201330
        June 1961)"],"language":"en","deposited":{"date-parts":[[2026,2,6]],"date-time":"2026-02-06T21:30:49Z","timestamp":1770413449000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.ukwhoswho.com\/view\/10.1093\/ww\/9780199540891.001.0001\/ww-9780199540884-e-52741"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2007,12,1]]},"references-count":0,"URL":"https:\/\/doi.org\/10.1093\/ww\/9780199540884.013.u52741","relation":{},"subject":[],"published":{"date-parts":[[2007,12,1]]}}}'
  recorded_at: Tue, 03 Mar 2026 18:06:33 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=Who%20Was%20Who%2B2007
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":39404,"items":[{"indexed":{"date-parts":[[2024,9,9]],"date-time":"2024-09-09T23:44:02Z","timestamp":1725925442943},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2007,12,1]]},"DOI":"10.1093\/ww\/9780199540884.013.u242381","type":"reference-book","created":{"date-parts":[[2017,11,30]],"date-time":"2017-11-30T22:40:00Z","timestamp":1512081600000},"source":"Crossref","is-referenced-by-count":1,"title[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Boxer,%2BRear-Adm.%2BHenry%2BPercy,%2B(14%2BOct.%2B1885%E2%80%9330%2BJune%2B1961)%2B2007%2BOxford%2BUniversity%2BPress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1532,"items":[{"indexed":{"date-parts":[[2025,3,31]],"date-time":"2025-03-31T04:17:16Z","timestamp":1743394636360,"version":"3.40.3"},"reference-count":0,"publisher":"Oxford
        University Press","isbn-type":[{"value":"9780192894816","type":"print"},{"value":"9780191990533","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2024,7,11]]},"DOI":"10.1093\/oseo\/instance.00306407","type":"book-chapter","created":{"date-parts":[[2025,3,30]],"date-time":"2025-03-30T09:23:26Z","timestamp":1743326606000},"source":"Crossref","is-referenced-by-count":0,"title":["Attractive
        Labour, 5 June 1885"],"prefix":"10.1093","member":"286","container-title":["21st-Century
        Oxford Authors: William Morris: Selected Writings"],"original-title":["Attractive
        Labour, 5 June 1885"],"language":"en","deposited":{"date-parts":[[2025,3,30]],"date-time":"2025-03-30T09:23:37Z","timestamp":1743326617000},"score":27.514015,"resource":{"primary":{"URL":"http:\/\/www.oxfordscholarlyeditions.com\/view\/10.1093\/actrade\/9780192894816.book.1\/actrade-9780192894816-div1-22"}},"issued":{"date-parts":[[2024,7,11]]},"ISBN":["9780192894816","9780191990533"],"references-count":0,"URL":"https:\/\/doi.org\/10.1093\/oseo\/instance.00306407","published":{"date-parts":[[2024,7,11]]}},{"indexed":{"date-parts":[[2022,7,5]],"date-time":"2022-07-05T19:17:07Z","timestamp":1657048627218},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1976,3,3]]},"DOI":"10.1093\/oseo\/instance.00159367","type":"book-chapter","created":{"date-parts":[[2016,5,27]],"date-time":"2016-05-27T18:35:46Z","timestamp":1464374146000},"page":"81-81","source":"Crossref","is-referenced-by-count":0,"title":["To
        Percy William Bunting"],"prefix":"10.1093","author":[{"given":"John Henry","family":"Newman","sequence":"first","affiliation":[]}],"member":"286","container-title":["The
        Letters and Diaries of John Henry Newman, Vol. 31: The Last Years: January
        1885 to August 1890"],"deposited":{"date-parts":[[2022,7,5]],"date-time":"2022-07-05T18:31:14Z","timestamp":1657045874000},"score":26.742224,"resource":{"primary":{"URL":"http:\/\/www.oxfordscholarlyeditions.com\/view\/10.1093\/actrade\/9780199200832.book.1\/actrade-9780199200832-div2-149"}},"editor":[{"given":"Charles
        Stephen","family":"Dessain","sequence":"additional","affiliation":[]},{"given":"Thomas
        Gornall,","family":"S.J.","sequence":"additional","affiliation":[]}],"issued":{"date-parts":[[1976,3,3]]},"references-count":0,"URL":"https:\/\/doi.org\/10.1093\/oseo\/instance.00159367","published":{"date-parts":[[1976,3,3]]}},{"indexed":{"date-parts":[[2022,7,5]],"date-time":"2022-07-05T22:45:02Z","timestamp":1657061102866},"reference-count":0,"publisher":"Oxford
        Un[...]
[...]
