---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1201%2F9781439864852
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,9,10]],"date-time":"2024-09-10T08:34:26Z","timestamp":1725957266686},"edition-number":"0","reference-count":0,"publisher":"A
        K Peters\/CRC Press","isbn-type":[{"type":"electronic","value":"9781439864852"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1201\/9781439864852","type":"reference-book","created":{"date-parts":[[2018,2,25]],"date-time":"2018-02-25T15:01:42Z","timestamp":1519570902000},"source":"Crossref","is-referenced-by-count":0,"title":["Audio
        Anecdotes II"],"prefix":"10.1201","member":"301","published-online":{"date-parts":[[2004,10,1]]},"container-title":[],"original-title":[],"language":"en","deposited":{"date-parts":[[2021,4,11]],"date-time":"2021-04-11T00:34:14Z","timestamp":1618101254000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9781439864852"}},"subtitle":[],"editor":[{"given":"Ken","family":"Greenebaum","sequence":"first","affiliation":[]},{"given":"Ronen","family":"Barzel","sequence":"additional","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[2004,10,1]]},"ISBN":["9781439864852"],"references-count":0,"URL":"https:\/\/doi.org\/10.1201\/9781439864852","relation":{},"subject":[],"published":{"date-parts":[[2004,10,1]]}}}'
  recorded_at: Wed, 01 Apr 2026 18:25:25 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Audio%2BAnecdotes%2BII%2B2004%2BA%2BK%2BPeters/CRC%2BPress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":814329,"items":[{"indexed":{"date-parts":[[2024,9,11]],"date-time":"2024-09-11T17:17:20Z","timestamp":1726075040249},"edition-number":"0","reference-count":0,"publisher":"A
        K Peters\/CRC Press","isbn-type":[{"type":"electronic","value":"9780429063046"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2004,10,1]]},"DOI":"10.1201\/9781439864852-7","type":"book-chapter","created":{"date-parts":[[2020,7,9]],"date-time":"2020-07-09T11:07:27Z","timestamp":1594292847000},"page":"19-44","source":"Crossref","is-referenced-by-count":0,"title":["Field
        Recording"],"prefix":"10.1201","member":"301","container-title":["Audio Anecdotes
        II"],"language":"en","deposited":{"date-parts":[[2020,12,22]],"date-time":"2020-12-22T07:56:30Z","timestamp":1608623790000},"score":38.60585,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9781439864852\/chapters\/10.1201\/9781439864852-7"}},"issued":{"date-parts":[[2004,10,1]]},"ISBN":["9780429063046"],"ref[...]
