---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1787%2F5jxvk6shpvs4-en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,12,14]],"date-time":"2024-12-14T05:19:54Z","timestamp":1734153594696,"version":"3.30.2"},"reference-count":0,"publisher":"Organisation
        for Economic Co-Operation and Development (OECD)","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2014,10,10]]},"DOI":"10.1787\/5jxvk6shpvs4-en","type":"report","created":{"date-parts":[[2014,10,11]],"date-time":"2014-10-11T04:29:28Z","timestamp":1413001768000},"source":"Crossref","is-referenced-by-count":2,"title":["Investment
        Treaties and Shareholder Claims: Analysis of Treaty Practice"],"prefix":"10.1787","member":"1963","container-title":["OECD
        Working Papers on International Investment"],"original-title":[],"deposited":{"date-parts":[[2024,7,3]],"date-time":"2024-07-03T08:50:00Z","timestamp":1719996600000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.oecd-ilibrary.org\/finance-and-investment\/investment-treaties-and-shareholder-claims_5jxvk6shpvs4-en"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2014,10,10]]},"references-count":0,"URL":"https:\/\/doi.org\/10.1787\/5jxvk6shpvs4-en","relation":{},"ISSN":["1815-1957"],"issn-type":[{"type":"electronic","value":"1815-1957"}],"subject":[],"published":{"date-parts":[[2014,10,10]]}}}'
  recorded_at: Mon, 26 Jan 2026 15:49:37 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Investment%2BTreaties%2Band%2BShareholder%2BClaims:%2BAnalysis%2Bof%2BTreaty%2BPractice%2B2014%2BOrganisation%2Bfor%2BEconomic%2BCo-Operation%2Band%2BDevelopment%2B(OECD)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":208319,"items":[{"indexed":{"date-parts":[[2024,8,13]],"date-time":"2024-08-13T11:11:26Z","timestamp":1723547486839},"edition-number":"1","reference-count":544,"publisher":"Cambridge
        University Press","isbn-type":[{"type":"electronic","value":"9781108658522"},{"type":"print","value":"9781108494526"},{"type":"print","value":"9781108714730"}],"license":[{"start":{"date-parts":[[2020,9,7]],"date-time":"2020-09-07T00:00:00Z","timestamp":1599436800000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/www.cambridge.org\/core\/terms"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2020,9,17]]},"DOI":"10.1017\/9781108658522.005","type":"book-chapter","created":{"date-parts":[[2020,9,8]],"date-time":"2020-09-08T04:30:17Z","timestamp":1599539417000},"page":"174-210","source":"Crossref","is-referenced-by-count":0,"title":["Damages
        in Shareholder Treaty Claims"],"prefix":"10.1017","member":"56","reference":[{"key":"9781108658522_BIBe-r-272","first-page":"1207","volume-title":"Liber
        Amicorum Bernardo Cremades","author":"Zuleta","year":"2010"},{"volume-title":"International
        Investment Law for the 21st Century: Essays in Honour of Christoph Schreuer","year":"2009","author":"Zeiler","key":"9781108658522_BIBe-r-270"},{"volume-title":"International
        Law","year":"1866","author":"Wheaton","key":"9781108658522_BIBe-r-264"},{"key":"9781108658522_BIBe-r-262","doi-asserted-by":"publisher","DOI":"10.1093\/icsidreview\/15.2.401"},{"key":"9781108658522_BIBe-r-261","first-page":"95","article-title":"Probl\u00e8mes
        Relatifs aux Contrats Pass\u00e9s entre un Etat et un Particulier","volume":"128","author":"Weil","year":"1961","journal-title":"RCADI"},{"key":"9781108658522_BIBe-r-260","first-page":"227","volume-title":"ICSID
        Convention after 50 Years: Unsettled Issues","author":"Wehland","year":"2017"},{"volume-title":"The
        Coordination of Multiple Proceedings in Investment Treaty Arbitration","year":"2013","author":"Wehland","key":"9781108658522_BIBe-r-258"},{"key":"9781108658522_BIBe-r-257","doi-asserted-by":"publisher","DOI":"10.1093\/icsidreview\/six020"},{"key":"9781108658522_BIBe-r-256","doi-asserted-by":"crossre[...]
