---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.3133%2Fofr72419
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,8,23]],"date-time":"2023-08-23T04:34:12Z","timestamp":1692765252423},"reference-count":0,"publisher":"US
        Geological Survey","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.3133\/ofr72419","type":"report-component","created":{"date-parts":[[2018,8,14]],"date-time":"2018-08-14T21:47:51Z","timestamp":1534283271000},"source":"Crossref","is-referenced-by-count":0,"title":["Seismicity
        map of greater San Francisco Bay area, California (1969-1971)"],"prefix":"10.3133","author":[{"name":"U.S.
        Geological Survey","sequence":"first","affiliation":[]}],"member":"1689","published-online":{"date-parts":[[1972]]},"container-title":["Open-File
        Report"],"original-title":[],"deposited":{"date-parts":[[2023,8,22]],"date-time":"2023-08-22T12:18:14Z","timestamp":1692706694000},"score":1,"resource":{"primary":{"URL":"https:\/\/pubs.usgs.gov\/publication\/ofr72419"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[1972]]},"references-count":0,"alternative-id":["72-419"],"URL":"https:\/\/doi.org\/10.3133\/ofr72419","relation":{},"ISSN":["2331-1258"],"issn-type":[{"value":"2331-1258","type":"print"}],"subject":[],"published":{"date-parts":[[1972]]}}}'
  recorded_at: Tue, 03 Mar 2026 18:06:34 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Seismicity%2Bmap%2Bof%2Bgreater%2BSan%2BFrancisco%2BBay%2Barea,%2BCalifornia%2B(1969-1971)%2B1972%2BUS%2BGeological%2BSurvey
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":17235,"items":[{"indexed":{"date-parts":[[2022,4,6]],"date-time":"2022-04-06T01:55:57Z","timestamp":1649210157898},"reference-count":0,"publisher":"University
        of California Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1985,12,31]]},"DOI":"10.1525\/9780520323933-010","type":"book-chapter","created":{"date-parts":[[2021,3,2]],"date-time":"2021-03-02T13:23:34Z","timestamp":1614691414000},"page":"133-148","source":"Crossref","is-referenced-by-count":0,"title":["CHAPTER
        NINE. The Greater San Francisco Movement"],"prefix":"10.1525","member":"408","container-title":["The
        San Francisco Bay Area"],"link":[{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1525\/9780520323933-010\/xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1525\/9780520323933-010\/html","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,3,2]],"date-time":"2021-03-02T13:23:34Z","timestamp":1614691414000},"score":43.06599,"resource":{"primary":{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1525\/9780520323933-010\/html"}},"issued":{"date-parts":[[1985,12,31]]},"references-count":0,"alternative-id":["10.1525\/9780520323933-010","10.1525\/9780520323933"],"URL":"https:\/\/doi.org\/10.1525\/9780520323933-010","published":{"date-parts":[[1985,12,31]]}},{"indexed":{"date-parts":[[2024,5,14]],"date-time":"2024-05-14T02:37:53Z","timestamp":1715654273037},"reference-count":0,"publisher":"University
        Press of Florida","isbn-type":[{"value":"9781683402664","type":"print"},{"value":"9781683403623","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2023,1,24]]},"abstract":"<p>This
        chapter discusses the history of the San Francisco Bay Area between the late
        eighteenth to early twentieth century. This chapter lays the groundwork of
        global, national, and regional historic events associated with Point San Jose
        and their framework related to the formation of the military infrastructure
        and associated bone pit discussed in the following chapters. The chapter is
        organized chronologically and divided into major time periods including the
        Spanish Period (1769\u20131820), Mexican Period (1821\u20131848), American
        Period (1848\u2013Present).<\/p>","DOI":"10.5744\/florida\/9781683402664.003.0002","type":"book-chapter","created":{"date-parts":[[2023,9,22]],"date-time":"2023-09-22T14:37:59Z","timestamp":1695393479000},"page":"21-32","source":"Crossref","is-referenced-by-count":0,"title":["Historical
        Background of California and the San Francisco Bay Area"],"prefix":"10.5744","author":[{"given":"Lisa
        N.","family":"Bright","sequence":"first","affiliation":[]}],"member":"3749","published-online":{"date-parts":[[2023,9,21]]},"container-title":["Archaeology
        and Bioarchaeology of Anatomical Dissection at a Nineteenth-Century Army Hospital
        in San Francisco"],"original-title":["Historical Background of California
        and the San Francisco Bay Area"],"language":"en","deposited":{"date-parts":[[2023,9,22]],"date-time":"2023-09-22T14:37:59Z","timestamp":1695393479000},"score":42.787277,"resource":{"primary":{"URL":"https:\/\/academic.oup.com\/florida-scholarship-online\/book\/51594\/chapter\/418218468"}},"issued":{"date-parts":[[2023,1,24]]},"ISBN":["9781683402664","9781683403623"],"references-count":0,"URL":"https:\/\/doi.org\/10.5744\/florida\/9781683402664.003.0002","published":{"date-parts":[[2023,1,24]]}},{"indexed":{"date-parts":[[2025,4,24]],"date-time":"2025-04-24T04:06:22Z","timestamp":1745467582737,"version":"3.40.4"},"reference-count":0,"publisher":"University
        of California Press","isbn-type":[{"type":"electronic","value":"9780520348172"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1969,12,31]]},"DOI":"10.1525\/9780520348172-015","type":"book-chapter","created":{"date-parts":[[2021,3,3]],"date-time":"2021-03-03T07:23:02Z","timestamp":1614756182000},"page":"283-298","source":"Crossref","is-referenced-by-count":0,"title":["15.
        Six at[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=Open-File%20Report%2B1972
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
  [...]
