---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.3133%2Fi747
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,8,15]],"date-time":"2025-08-15T00:28:15Z","timestamp":1755217695875,"version":"3.43.0"},"reference-count":0,"publisher":"US
        Geological Survey","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.3133\/i747","type":"report","created":{"date-parts":[[2018,8,20]],"date-time":"2018-08-20T07:42:50Z","timestamp":1534750970000},"source":"Crossref","is-referenced-by-count":0,"title":["Map
        showing areas of estimated relative amounts of landslides in California"],"prefix":"10.3133","member":"1689","published-online":{"date-parts":[[1973]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2025,8,5]],"date-time":"2025-08-05T17:08:19Z","timestamp":1754413699000},"score":1,"resource":{"primary":{"URL":"https:\/\/pubs.usgs.gov\/publication\/i747"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[1973]]},"references-count":0,"URL":"https:\/\/doi.org\/10.3133\/i747","relation":{},"subject":[],"published":{"date-parts":[[1973]]}}}'
  recorded_at: Tue, 03 Mar 2026 18:06:35 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Map%2Bshowing%2Bareas%2Bof%2Bestimated%2Brelative%2Bamounts%2Bof%2Blandslides%2Bin%2BCalifornia%2B1973%2BUS%2BGeological%2BSurvey
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '5'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '1'
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3203,"items":[{"indexed":{"date-parts":[[2025,2,21]],"date-time":"2025-02-21T01:04:06Z","timestamp":1740099846258,"version":"3.37.3"},"reference-count":48,"publisher":"Elsevier","isbn-type":[{"type":"print","value":"9780081029091"}],"license":[{"start":{"date-parts":[[2021,1,1]],"date-time":"2021-01-01T00:00:00Z","timestamp":1609459200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"funder":[{"DOI":"10.13039\/100000203","name":"US
        Geological Survey","doi-asserted-by":"crossref","id":[{"id":"10.13039\/100000203","id-type":"DOI","asserted-by":"crossref"}]},{"DOI":"10.13039\/100010174","name":"University
        of Colorado","doi-asserted-by":"publisher","id":[{"id":"10.13039\/100010174","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/100000203","name":"US
        Geological Survey","doi-asserted-by":"crossref","id":[{"id":"10.13039\/100000203","id-type":"DOI","asserted-by":"crossref"}]},{"DOI":"10.13039\/100000203","name":"US
        Geological Survey","doi-asserted-by":"crossref","id":[{"id":"10.13039\/100000203","id-type":"DOI","asserted-by":"crossref"}]}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2021]]},"DOI":"10.1016\/b978-0-12-409548-9.12491-1","type":"book-chapter","created":{"date-parts":[[2020,3,31]],"date-time":"2020-03-31T22:01:08Z","timestamp":1585692068000},"page":"348-369","source":"Crossref","is-referenced-by-count":0,"title":["Eolian
        Sediments"],"prefix":"10.1016","author":[{"given":"Daniel R.","family":"Muhs","sequence":"first","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/B978-0-12-409548-9.12491-1_bb0010","doi-asserted-by":"crossref","first-page":"1362","DOI":"10.1130\/B26222.1","article-title":"Isotopic
        evidence for the diversity of late Quaternary loess in Nebraska: Glaciogenic
        and non-glaciogenic sources","volume":"120","author":"Aleinikoff","year":"2008","journal-title":"Geological
        Society of America Bulletin"},{"key":"10.1016\/B978-0-12-409548-9.12491-1_bb0015","doi-asserted-by":"crossref","first-page":"1907","DOI":"10.1016\/S0277-3791(03)00169-0","article-title":"Last
        glacial loess in the conterminous U.S.A","volume":"22","author":"Bettis","year":"2003","journal-title":"Quaternary
        Science Reviews"},{"key":"10.1016\/B978-0-12-409548-9.12491-1_bb0020","doi-asserted-by":"crossref","first-page":"26","DOI":"10.1144\/GSL.JGS.1846.002.01-02.0[...]
