---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.31030%2F2640440
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '10'
      X-Rate-Limit-Interval:
      - 1s
      X-Concurrency-Limit:
      - '3'
      X-Api-Pool:
      - polite
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,8,2]],"date-time":"2024-08-02T00:22:20Z","timestamp":1722558140673},"publisher-location":"Berlin","standards-body":{"name":"DIN
        Deutsches Institut f\u00fcr Normung e. V.","acronym":"DIN"},"reference-count":0,"publisher":"DIN
        Media GmbH","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.31030\/2640440","type":"standard","created":{"date-parts":[[2019,3,31]],"date-time":"2019-03-31T21:56:19Z","timestamp":1554069379000},"approved":{"date-parts":[[1994,1]]},"source":"Crossref","is-referenced-by-count":0,"title":["DIN
        ETS 300218:1994-01, ISDN; Protokolle der unteren Schichten f\u00fcr Videotex
        auf Syntaxbasis f\u00fcr ISDN-Paketmodus (CCITT-Empfehlung_X.31 Fall_A und
        Fall_B); Englische Fassung ETS_300218:1993"],"prefix":"10.31030","member":"15010","container-title":[],"original-title":[],"deposited":{"date-parts":[[2024,8,1]],"date-time":"2024-08-01T23:39:21Z","timestamp":1722555561000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.dinmedia.de\/de\/-\/-\/2204273"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"https:\/\/doi.org\/10.31030\/2640440","relation":{},"subject":[]}}'
  recorded_at: Fri, 13 Mar 2026 04:27:02 GMT
recorded_with: VCR 6.4.0
