---
http_interactions:
- request:
    method: post
    uri: https://documents.un.org/api/search?l=en&rid=9ad60213-aca5-4895-bec3-7348a5a303db
    body:
      encoding: UTF-8
      string: '{"symbol":"TRADE/CEFACT/2004/32","jobNumber":"","publicationDate":"*
        TO *","releaseDate":"* TO *","title":"","subject":"","session":"","agenda":"","truncation":false,"fullTextSearch":{"language":"en","searchText":""},"sortOptions":{"sortField":"Sort
        by relevance"},"pagination":{"currentPage":1,"itemsPerPage":20},"screenLanguage":"en","tcodes":[]}'
    headers:
      Authorization:
      - "<UN_AUTH_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"3ad-DywK4+c8UjKuZTFfsF6xaJAy1iM"
    body:
      encoding: UTF-8
      string: '{"status":1,"body":{"data":[{"id":"TRADE/CEFACT/2004/32_7895068","symbol":"TRADE/CEFACT/2004/32","symbols":["TRADE/CEFACT/2004/32","",""],"publication_date":"2004-03-18T00:00:00Z","area":"UNDOC","distribution":"GEN","tcodes":["T0006291","T0009430","T0002478","T0002587","T0002747","T0000745","T0006012","T0010642"],"agendas":["12","",""],"sessions":["10","",""],"job_numbers":["","","G0430683","","","",""],"release_dates":["1900-01-01T00:00:00Z","1900-01-01T00:00:00Z","2004-03-30T00:00:00Z","1900-01-01T00:00:00Z","1900-01-01T00:00:00Z","1900-01-01T00:00:00Z","1900-01-01T00:00:00Z"],"sizes":[-1,-1,-1,-1,-1,-1,40981,-1,110592,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1],"title":"SECRETARIAT
        REVIEW OF UN/LOCODE, 19 DECEMBER 2003 / SUBMITTED BY THE SECRETARIAT","subjects":["TRADE
        DATA INTERCHANGE","CODES","PORTS","TRANSPORT TERMINALS","TRADE FACILITATION","PROJECT
        EVALUATION","DATABASES","WEBSITES"]}],"meta":{"matches":1,"numberOfGroups":1}}}'
  recorded_at: Thu, 09 Apr 2026 16:08:41 GMT
recorded_with: VCR 6.4.0
