/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.vscode/
/vendor/

# rspec failure tracking
.rspec_status
Gemfile.lock
.claude/
.rubocop-remote-87c7cdd254a8d09d005ee06efac7acc0.yml
rubocop-87c7cdd254a8d09d005ee06efac7acc0.yml
