---
http_interactions:
- request:
    method: post
    uri: https://575ye157g9-dsn.algolia.net/1/indexes/shopify_products/query
    body:
      encoding: UTF-8
      string: '{"query":"BS 7273-4:2015+A1:2021 Ex"}'
    headers:
      X-Algolia-Api-Key:
      - a057b4e74099445df2eddb7940828a10
      X-Algolia-Application-Id:
      - 575YE157G9
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '2'
      Correlation-Id:
      - 575YE1-213hA-EUUBlC6Da6c
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: ASCII-8BIT
      string: '{"hits":[{"title":"Code of practice for the operation of fire protection
        measures. - Actuation of release mechanisms for doors","updated_at":"2026-08-14T07:51:03.000Z","_tags":["id:6976627540133","product:6976627540133","variant:40582591676581"],"handle":"code-of-practice-for-the-operation-of-fire-protection-measures-actuation-of-release-mechanisms-for-doors-2","vendor":"BSI
        Shop","product_type":"publication","template_suffix":"","sku":"000000000030432564","barcode":"7ddc6040-b141-4d9c-a661-a6c716e112e7","position":1,"requires_shipping":false,"taxable":true,"inventory_quantity":0,"option1":"Digital","option2":null,"option3":null,"id":6976627540133,"tags":["format:digital","has-hardcopy","Ingestion-build-100998","Ingestion-build-111333","Ingestion-build-115288","Ingestion-build-232773","Ingestion-build-286384","Ingestion-build-48068","Ingestion-build-54484","Ingestion-build-89079","subscription-only"],"option_names":["title"],"variants_count":1,"variants_min_price":90,"variants_max_price":90,"variants_inventory_count":0,"product_image":"https://cdn.shopify.com/s/files/1/0555/5329/4501/products/Digital_84b11753-415b-4a7b-b246-00825488926d.png?v=1628928234","published_at":"2026-08-14T16:02:47.000Z","body_html_safe":"","variant_title":"Digital","inventory_policy":"deny","inventory_management":null,"inventory_management_shopify":0,"inventory_available":false,"options":{"title":"Digital"},"price":90,"compare_at_price":45,"price_ratio":2,"price_range":"75:100","grams":0,"weight":"0.0lb","image":"https://cdn.shopify.com/s/files/1/0555/5329/4501/products/Digital_84b11753-415b-4a7b-b246-00825488926d.png?v=1628928234","named_tags":{},"named_tags_names":[],"created_at":"2021-08-14T09:03:52.000Z","meta":{"global":{"descriptorsAlgoliaStringArray":["Fire
        alarms","Locks","Closing and check mechanisms","Fire safety in buildings","Control
        equipment","Doors","Fire detectors","Means of escape from fire in buildings","Design","Emergency
        exits","Manual control systems","Maintenance","Fire doors","Release mechanisms","Fire
        safety","Actuators","Control systems","Installation","Shutters (buildings)"],"designatedStandard":"false","icsCodesAlgoliaStringArray":["13.220.20
        Fire protection"],"industriesAlgoliaStringArray":["Fire"],"modulesAlgoliaStringArray":["BSI_GBM08"],"primaryDesignator":["BS
        7273-4:2015+A1:2021 ExComm","BS7273-4:2015+A1:2021 ExComm","BS7273-4:2015+A1:2021ExComm","BS
        7273-4:2015+A1:2021ExComm"],"publishedDate":"2021-01-25","publisher":"BSI","status":"Withdrawn","statusNumeric":100},"group_search":{"description":"Code
        of practice for the operation of fire protection measures. - Actuation of
        release mechanisms for doors","member_price":45,"price":90,"title":"BS 7273-4:2015+A1:2021
        ExComm"}},"variants_compare_at_price_min":45,"variants_compare_at_price_max":45,"collection_ids":[271042576549],"objectID":"40582591676581","_snippetResult":{"body_html_safe":{"value":"","matchLevel":"none"}},"_highlightResult":{"title":{"value":"Code
        of practice for the operation of fire protection measures. - Actuation of
        release mechanisms for doors","matchLevel":"none","matchedWords":[]},"sku":{"value":"000000000030432564","matchLevel":"none","matchedWords":[]},"body_html_safe":{"value":"","matchLevel":"none","matchedWords":[]},"meta":{"global":{"descriptorsAlgoliaStringArray":[{"value":"Fire
        alarms","matchLevel":"none","matchedWords":[]},{"value":"Locks","matchLevel":"none","matchedWords":[]},{"value":"Closing
        and check mechanisms","matchLevel":"none","matchedWords":[]},{"value":"Fire
        safety in buildings","matchLevel":"none","matchedWords":[]},{"value":"Control
        equipment","matchLevel":"none","matchedWords":[]},{"value":"Doors","matchLevel":"none","matchedWords":[]},{"value":"Fire
        detectors","matchLevel":"none","matchedWords":[]},{"value":"Means of escape
        from fire in buildings","matchLevel":"none","matchedWords":[]},{"value":"Design","matchLevel":"none","matchedWords":[]},{"value":"Emergency
        <em>ex</em>its","matchLevel":"partial","fullyHighlighted":false,"matchedWords":["ex"]},{"value":"Manual
        control systems","matchLevel":"none","matchedWords":[]},{"value":"Maintenance","matchLevel":"none","matchedWords":[]},{"value":"Fire
        doors","matchLevel":"none","matchedWords":[]},{"value":"Release mechanisms","matchLevel":"none","matchedWords":[]},{"value":"Fire
        safety","matchLevel":"none","matchedWords":[]},{"value":"Actuators","matchLevel":"none","matchedWords":[]},{"value":"Control
        systems","matchLevel":"none","matc[...]
- request:
    method: post
    uri: https://shop-bsi.myshopify.com/api/2021-04/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"query Relaton__Bsi__Scraper__Query__GetProducts($h0: String!)
        {\n  productByHandle(handle: $h0) {\n    ...Relaton__Bsi__Scraper__Product__ProductFragment\n  }\n}\n\nfragment
        Relaton__Bsi__Scraper__Product__ProductFragment on Product {\n  createdAt\n  publishedAt\n  updatedAt\n  productType\n  committee:
        metafield(namespace: \"global\", key: \"committee\") {\n    value\n  }\n  designated:
        metafield(namespace: \"global\", key: \"designatedStandard\") {\n    value\n  }\n  packContents:
        metafield(namespace: \"global\", key: \"packContents\") {\n    value\n  }\n  summary:
        metafield(namespace: \"global\", key: \"summary\") {\n    value\n  }\n  corrigendumHandle:
        metafield(namespace: \"global\", key: \"corrigendumHandle\") {\n    value\n  }\n  variants(first:
        250) {\n    edges {\n      node {\n        version: metafield(namespace: \"global\",
        key: \"version\") {\n          value\n        }\n        isbn: metafield(namespace:
        \"global\", key: \"isbn\") {\n          value\n        }\n      }\n    }\n  }\n  description\n}","variables":{"h0":"code-of-practice-for-the-operation-of-fire-protection-measures-actuation-of-release-mechanisms-for-doors-2"},"operationName":"Relaton__Bsi__Scraper__Query__GetProducts"}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Storefront-Access-Token:
      - c935c196c0b7d1d86bfb5139006cfd46
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Stats-Apiclientid:
      - '5335555'
      X-Shopify-Api-Version-Warning:
      - https://shopify.dev/concepts/about-apis/versioning
      X-Shopify-Api-Deprecated-Reason:
      - https://shopify.dev/api/usage/versioning#deprecation-practices
      Shopify-Complexity-Score:
      - '0'
      Shopify-Complexity-Score-V2:
      - '44'
      X-Shopify-Api-Version:
      - 2025-10
      Cdn-Cache-Control:
      - no-cache, no-store
      Content-Language:
      - en
      Powered-By:
      - Shopify
      X-Dc:
      - gcp-us-east1,gcp-us-east1,gcp-us-east1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"productByHandle":{"createdAt":"2021-08-14T08:03:52Z","publishedAt":"2026-08-14T15:02:47Z","updatedAt":"2026-08-29T14:43:49Z","productType":"publication","committee":{"value":"FSH/12/4"},"designated":{"value":"false"},"packContents":null,"summary":null,"corrigendumHandle":null,"variants":{"edges":[{"node":{"version":{"value":"basic"},"isbn":{"value":"978
        0 539 16669 9"}}}]},"description":""}},"extensions":{"cost":{"requestedQueryCost":51}}}'
  recorded_at: Wed, 02 Sep 2026 01:28:33 GMT
recorded_with: VCR 6.4.0
