---
http_interactions:
- request:
    method: post
    uri: https://575ye157g9-dsn.algolia.net/1/indexes/shopify_products/query
    body:
      encoding: UTF-8
      string: '{"query":"BS 99999"}'
    headers:
      X-Algolia-Api-Key:
      - a057b4e74099445df2eddb7940828a10
      X-Algolia-Application-Id:
      - 575YE157G9
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Correlation-Id:
      - 575YE1-21C9n-0D350NVc8EA
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":20,"exhaustiveNbHits":true,"exhaustiveTypo":true,"exhaustive":{"nbHits":true,"typo":true},"query":"BS
        99999","params":"query=BS+99999&distinct=1&filters=NOT+tags%3Ahas-digital&filters=NOT+tags%3Anot-for-sale&filters=NOT+product_type%3Amembership","renderingContent":{},"processingTimeMS":1,"processingTimingsMS":{"_request":{"roundTrip":125},"total":0}}'
  recorded_at: Thu, 24 Sep 2026 15:35:33 GMT
recorded_with: VCR 6.4.0
