---
http_interactions:
- request:
    method: get
    uri: https://api.relaton.org/api/v1/document?code=ISO%2019115-2&year=2019
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 6abf641e-024c-44fd-827d-f698ec0b9f98
      X-Amz-Apigw-Id:
      - CGZ2SEOloAMFWWg=
    body:
      encoding: UTF-8
      string: |-
        <bibdata type="standard">
          <fetched>2021-07-11</fetched>
          <title type="title-intro" format="text/plain" language="en" script="Latn">Geographic information</title>
          <title type="title-main" format="text/plain" language="en" script="Latn">Metadata</title>
          <title type="title-part" format="text/plain" language="en" script="Latn">Part 2: Extensions for acquisition and processing</title>
          <title type="main" format="text/plain" language="en" script="Latn">Geographic information - Metadata - Part 2: Extensions for acquisition and processing</title>
          <title type="title-intro" format="text/plain" language="fr" script="Latn">Information géographique</title>
          <title type="title-main" format="text/plain" language="fr" script="Latn">Métadonnées</title>
          <title type="title-part" format="text/plain" language="fr" script="Latn">Partie 2: Extensions pour l'acquisition et le traitement</title>
          <title type="main" format="text/plain" language="fr" script="Latn">Information géographique - Métadonnées - Partie 2: Extensions pour l'acquisition et le traitement</title>
          <uri type="src">https://www.iso.org/standard/67039.html</uri>
          <uri type="obp">https://www.iso.org/obp/ui/#!iso:std:67039:en</uri>
          <uri type="rss">https://www.iso.org/contents/data/standard/06/70/67039.detail.rss</uri>
          <docidentifier type="ISO">ISO 19115-2:2019</docidentifier>
          <docidentifier type="URN">urn:iso:std:iso:19115:-2:stage-60.60:ed-2:en,fr</docidentifier>
          <docnumber>19115</docnumber>
          <date type="published">
            <on>2019-01</on>
          </date>
          <contributor>
            <role type="publisher"/>
            <organization>
              <name>International Organization for Standardization</name>
              <abbreviation>ISO</abbreviation>
              <uri>www.iso.org</uri>
            </organization>
          </contributor>
          <edition>2</edition>
          <language>en</language>
          <language>fr</language>
          <script>Latn</script>
          <status>
            <stage>60</stage>
            <substage>60</substage>
          </status>
          <copyright>
            <from>2019</from>
            <owner>
              <organization>
                <name>ISO</name>
              </organization>
            </owner>
          </copyright>
          <relation type="obsoletes">
            <bibitem type="standard">
              <formattedref format="text/plain">ISO 19115-2:2009</formattedref>
            </bibitem>
          </relation>
          <relation type="updates">
            <bibitem type="standard">
              <formattedref format="text/plain">ISO 19115-2:2019/PRF Amd 1</formattedref>
              <date type="circulated">
                <on>2019-01-10</on>
              </date>
            </bibitem>
          </relation>
          <place>Geneva</place>
          <ext>
            <doctype>international-standard</doctype>
            <editorialgroup>
              <technical-committee number="211" type="TC">ISO/TC 211Geographic information/Geomatics</technical-committee>
            </editorialgroup>
            <ics>
              <code>35.240.70</code>
              <text>IT applications in science</text>
            </ics>
            <structuredidentifier type="ISO">
              <project-number>ISO 19115</project-number>
            </structuredidentifier>
          </ext>
        </bibdata>
  recorded_at: Mon, 20 Mar 2023 21:56:44 GMT
recorded_with: VCR 6.1.0
