---
http_interactions:
- request:
    method: get
    uri: https://standards.calconnect.org/relaton/index.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - binary/octet-stream
      Last-Modified:
      - Tue, 23 Jun 2020 03:53:57 GMT
      Etag:
      - '"8afffdb652d26176976bfe87c344ccbf"'
    body:
      encoding: UTF-8
      string: "---\nroot:\n  title: CalConnect Document Registry\n  items:\n  - id:
        CC/Adm0401-2004\n    title:\n    - type: title-main\n      content: July 2004
        CalConnect Interoperability Test Rules and Test Scenarios\n        V1.0 (CD
        0401)\n      language: en\n      script: Latn\n      format: text/plain\n
        \   - type: main\n      content: July 2004 CalConnect Interoperability Test
  [...]
- request:
    method: get
    uri: https://standards.calconnect.org/csd/cc-10005.rxl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - binary/octet-stream
      Last-Modified:
      - Tue, 23 Jun 2020 03:53:51 GMT
      Etag:
      - '"a11e39b56e56179e8559a626fa0c798f"'
    body:
      encoding: UTF-8
      string: |-
        <bibdata type="standard">
        <title language="en" format="text/plain">Guidelines for the implementation of the CalConnect patent policy</title>
        <docidentifier type="csd">CC/DIR 10005:2019</docidentifier>
        <docnumber>10005</docnumber>
        <date type="published">
        <on>2019-06-13</on>
        </date>
        <contributor>
        <role type="author"/>
        <organization>
        <name>CalConnect</name>
        </organization>
        </contributor>
        <contributor>
        <role type="publisher"/>
        <organization>
        <name>CalConnect</name>
        </organization>
        </contributor>
        <edition>1</edition>
        <version>
        <revision-date>2019-06-13</revision-date>
        </version>
        <language>en</language>
        <script>Latn</script>
        <status>
        <stage>published</stage>
        </status>
        <copyright>
        <from>2019</from>
        <owner>
        <organization>
        <name>CalConnect</name>
        </organization>
        </owner>
        </copyright>
        <ext>
        <doctype>directive</doctype>
        <editorialgroup>
        <technical-committee>PUBLISH</technical-committee>
        </editorialgroup>
        </ext>
        </bibdata>
  recorded_at: Sun, 19 Mar 2023 00:36:26 GMT
recorded_with: VCR 6.1.0
