---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.6028%2Fnist.ir.8245
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.3 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"National
        Institute of Standards and Technology","acronym":["NIST"],"place":["Gaithersburg,
        MD"],"department":["Information Technology Laboratory","Material Measurement
        Laboratory"]}],"indexed":{"date-parts":[[2022,4,4]],"date-time":"2022-04-04T00:10:40Z","timestamp":1649031040985},"publisher-location":"Gaithersburg,
        MD","reference-count":0,"publisher":"National Institute of Standards and Technology","funder":[{"DOI":"10.13039\/100007764r","name":"Information
        Technology Laboratory","doi-asserted-by":"publisher"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.6028\/nist.ir.8245","type":"report","created":{"date-parts":[[2019,3,28]],"date-time":"2019-03-28T13:01:30Z","timestamp":1553778090000},"source":"Crossref","is-referenced-by-count":3,"title":["Voices
        of first responders - examining public safety communication\n                        problems
        and requested functionality:"],"prefix":"10.6028","author":[{"given":"Shanee","family":"Dawkins","sequence":"first","affiliation":[]},{"given":"Yee-Yin","family":"Choong","sequence":"additional","affiliation":[]},{"given":"Mary
        F","family":"Theofanos","sequence":"additional","affiliation":[]},{"given":"Kristen
        K","family":"Greene","sequence":"additional","affiliation":[]},{"given":"Susanne","family":"Furman","sequence":"additional","affiliation":[]},{"given":"Michelle","family":"Steves","sequence":"additional","affiliation":[]},{"given":"Sandra
        Spickard","family":"Prettyman","sequence":"additional","affiliation":[]}],"member":"4068","published-online":{"date-parts":[[2019,3]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2020,8,20]],"date-time":"2020-08-20T14:05:37Z","timestamp":1597932337000},"score":1,"resource":{"primary":{"URL":"https:\/\/nvlpubs.nist.gov\/nistpubs\/ir\/2019\/NIST.IR.8245.pdf"}},"subtitle":["findings
        from user-centered interviews, phase 1, volume 2"],"short-title":[],"issued":{"date-parts":[[2019,3]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.6028\/nist.ir.8245","relation":{},"published":{"date-parts":[[2019,3]]}}}'
  recorded_at: Mon, 20 Mar 2023 20:19:37 GMT
recorded_with: VCR 6.1.0
