---
http_interactions:
- request:
    method: post
    uri: https://jcl49wv5ar-dsn.algolia.net/1/indexes/all_en/query
    body:
      encoding: UTF-8
      string: '{"query":"ISO 111111119115-1","hitsPerPage":100,"filters":"category:standard"}'
    headers:
      X-Algolia-Api-Key:
      - dd1b9e1ab383f4d4817d29cd5e96d3f0
      X-Algolia-Application-Id:
      - JCL49WV5AR
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":100,"exhaustiveNbHits":true,"exhaustiveTypo":true,"exhaustive":{"nbHits":true,"typo":true},"query":"ISO
        111111119115-1","params":"query=ISO+111111119115-1&hitsPerPage=100&filters=category%3Astandard","processingTimeMS":1,"processingTimingsMS":{"getIdx":{"load":{"total":1},"total":1},"request":{"roundTrip":113},"total":1},"serverTimeMS":2}'
  recorded_at: Sun, 19 Mar 2023 00:36:12 GMT
[...]
{"request":{"roundTrip":102}}}'
  recorded_at: Sun, 19 Mar 2023 00:36:12 GMT
recorded_with: VCR 6.1.0
