---
http_interactions:
- request:
    method: post
    uri: https://jcl49wv5ar-dsn.algolia.net/1/indexes/all_en/query
    body:
      encoding: UTF-8
      string: '{"params":"facetFilters=%5B%22category%3Astandard%22%5D&query=ISO+111111119115-1"}'
    headers:
      X-Algolia-Api-Key:
      - dd1b9e1ab383f4d4817d29cd5e96d3f0
      X-Algolia-Application-Id:
      - JCL49WV5AR
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '8'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":20,"processingTimeMS":6,"exhaustiveNbHits":true,"query":"ISO
        111111119115-1","params":"facetFilters=%5B%22category%3Astandard%22%5D&query=ISO+111111119115-1"}

'
  recorded_at: Thu, 18 Oct 2018 16:22:34 GMT
recorded_with: VCR 4.0.0
