---
http_interactions:
- request:
    method: get
    uri: https://www.iso.org/cms/render/live/en/sites/isoorg.advancedSearch.do?docNumber=1&status=ENT_ACTIVE,ENT_PROGRESS,ENT_INACTIVE,ENT_DELETED
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"standards":[{"priceGroup":"A","publicationStatus":"Published","prodsAvailable":true,"docNumber":1,"langCode":"EN","docEdition":3,"newProjectDate":"2014-10-06
        00:00:00.0","splitPath":"/06/76","docElem":"0","title":"Geometrical product
        specifications (GPS) \u2014 Standard reference temperature for the specification
        of geometrical and dimensional properties","stageStart":"2016-08-26","pages":4,"docRef":"ISO
        1:2016","ics":[{"label":"17.040.01","text":"Linear and angular measurements
        in general"}],"publicationStatus_key":"ENT_ACTIVE","docPartNo":10,"pubLangs":"en,fr","publicationDate":"2016-09","sdg_count":0,"stageId":"60.60","csnumber":67630,"committee":{"sector_key":"INFORMATION_PROCESSING_GRAPHICS","level":"Main
        committee","splitPath":"/05/49","level_key":"MAIN_COMMITTEE","title":"Dimensional
        and geometrical product specifications and verification","reference":"ISO/TC
        213","sortKey":"ISO/TC 213","field_key":"TECHNICAL","field":"Technical","id":54924,"sector":"Information
        technology, graphics and photography","status_key":"ENT_ACTIVE","status":"Active"},"docType":10,"revises":[{"csnumber":28086,"publicationStatus":"Withdrawn","docRef":"ISO
        1:2002","splitPath":"/02/80","publicationStatus_key":"ENT_INACTIVE","stageId":"95.99"}],"urn":"iso:std:67630:en","docElemSeq":0,"revises_count":1,"stages":[{"stageStart":"2014-10-06","stageId":"10.99"},{"stageStart":"2014-10-31","stageId":"30.99"},{"stageStart":"2014-11-06","stageId":"40.00"},{"stageStart":"2015-01-29","stageId":"40.20"},{"stageStart":"2015-05-01","stageId":"40.60"},{"stageStart":"2015-11-03","stageId":"40.99"},{"stageStart":"2016-02-25","stageId":"50.00"},{"stageStart":"2016-05-05","stageId":"50.20"},{"stageStart":"2016-07-07","stageId":"50.60"},{"stageStart":"2016-07-11","stageId":"60.00"},{"stageStart":"2016-08-26","stageId":"60.60"},{"stageId":"90.20"}],"docPart":"","associatedCommittees_count":0,"supplements_count":0,"revisedBy_count":0,"ics_count":1},{"priceGroup":"B","publicationStatus":"Withdrawn","prodsAvailable":false,"revisedBy":[{"csnumber":41768,"publicationStatus":"Withdrawn","docRef":"IWA
        1:2005","splitPath":"/04/17","publicationStatus_key":"ENT_INACTIVE","stageId":"95.99"}],"docNumber":1,"langCode":"EN","docEdition":1,"newProjectDate":"2001-08-29
        00:00:00.0","splitPath":"/03/62","docElem":"0","title":"Quality management
        systems \u2014 Guidelines for process improvements in health service organizations","stageStart":"2005-10-03","pages":68,"docRef":"IWA
        1:2001","ics":[{"label":"11.020[...]
