---
http_interactions:
- request:
    method: get
    uri: https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.8341.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 23 Jan 2021 00:35:19 GMT
      Etag:
      - '"364183b-46c-5b9867ab51fc0"'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0' encoding='UTF-8'?>

        <reference  anchor='RFC8341' target='https://www.rfc-editor.org/info/rfc8341'>
        <front>
        <title>Network Configuration Access Control Model</title>
        <author initials='A.' surname='Bierman' fullname='A. Bierman'><organization /></author>
        <author initials='M.' surname='Bjorklund' fullname='M. Bjorklund'><organization /></author>
        <date year='2018' month='March' />
        <abstract><t>The standardization of network configuration interfaces for use with the Network Configuration Protocol (NETCONF) or the RESTCONF protocol requires a structured and secure operating environment that promotes human usability and multi-vendor interoperability.  There is a need for standard mechanisms to restrict NETCONF or RESTCONF protocol access for particular users to a preconfigured subset of all available NETCONF or RESTCONF protocol operations and content.  This document defines such an access control model.</t><t>This document obsoletes RFC 6536.</t></abstract>
        </front>
        <seriesInfo name='STD' value='91'/>
        <seriesInfo name='RFC' value='8341'/>
        <seriesInfo name='DOI' value='10.17487/RFC8341'/>
        </reference>
  recorded_at: Mon, 01 Feb 2021 13:18:43 GMT
recorded_with: VCR 5.1.0
