---
http_interactions:
- request:
    method: get
    uri: https://www.rfc-editor.org/refs/bibxml/reference.RFC.8341.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 18 Oct 2018 04:54:10 GMT
      Etag:
      - '"46c-5787993d38758-gzip"'
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version='1.0' encoding='UTF-8'?>

        <reference  anchor='RFC8341' target='https://www.rfc-editor.org/info/rfc8341'>
        <front>
        <title>Network Configuration Access Control Model</title>
        <author initials='A.' surname='Bierman' fullname='A. Bierman'><organization /></author>
        <author initials='M.' surname='Bjorklund' fullname='M. Bjorklund'><organization /></author>
        <date year='2018' month='March' />
        <abstract><t>The standardization of network configuration interfaces for use with the Network Configuration Protocol (NETCONF) or the RESTCONF protocol requires a structured and secure operating environment that promotes human usability and multi-vendor interoperability.  There is a need for standard mechanisms to restrict NETCONF or RESTCONF protocol access for particular users to a preconfigured subset of all available NETCONF or RESTCONF protocol operations and content.  This document defines such an access control model.</t><t>This document obsoletes RFC 6536.</t></abstract>
        </front>
        <seriesInfo name='STD' value='91'/>
        <seriesInfo name='RFC' value='8341'/>
        <seriesInfo name='DOI' value='10.17487/RFC8341'/>
        </reference>
  recorded_at: Thu, 18 Oct 2018 16:43:02 GMT
[...]
