coverage/
.byebug_history
.rspec_status

testcache
testcache2
.rubocop-https---raw-githubusercontent-com-riboseinc-oss-guides-master-ci-rubocop-yml
.vscode/
pkg/
Gemfile.lock
.rubocop-remote-87c7cdd254a8d09d005ee06efac7acc0.yml
.claude/
